<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SoulmateString is committed to safeguarding your privacy with full and detailed privacy policy on this page.">
    <link rel="stylesheet" href="../../web/css/global.css">
    <link rel="stylesheet" href="../../web/css/pages/policy.css">
    <title>Privacy Policy | SoulmateString</title>
</head>
<body>
    <!-- policy -->
    <header class="header-pc">
        <div class="nav-logo">
            <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
        </div>
        <div class="nav-btns">
            <ul>
                <li><a href="../site/bbw.html">BBW Dating</a></li>
                <li><a href="../site/bbws.html">BBWs</a></li>
                <li><a href="../site/bp.html">Body Positive</a></li>       
                <li><a href="../blog/index.html">Blog</a></li>
                <li><a href="" class="button download-button nav-button hover-logo">
                        <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>&nbsp;
                        <span>T</span>
                        <span>H</span>
                        <span>E</span>&nbsp;
                        <span>A</span>
                        <span>P</span>
                        <span>P</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <header class="header-mob">
        <div class="nav-logo">
            <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
        </div>
        <div class="nav-btn">
            <img src="../../web/images/nav-btn-mob.png" alt="">
        </div>
    </header>

    <section class="fp-banner custom-sc">
        <div class="container">
            <h1 class="fp-banner-title fadeInUp delay1">Privacy Policy</h1>
        </div>
    </section>

    <!-- content -->
    <section class="py-content">
        <div class="container">
            <p class="py-txt">
                Welcome to SoulmateString!  SoulmateString is committed to protecting the privacy 
                of its users (“a user”, “Users” or “you”). We understand that visitors and users 
                of the Website are concerned about their privacy, and the confidentiality and security 
                of any Personal Data that is provided. So, we’re providing you with the information 
                in this Privacy Policy (“Policy”) about how we handle your data, who we share it with 
                and your rights around the data. This Policy applies when you use our services through 
                our websites linked to this Policy, as well as our products and applications (including 
                our mobile applications, downloadable products and applications and pages operated by us 
                on social networking sites and other platforms) (collectively, the “Service” or “Services”).
            </p>
            <p class="py-txt">
                By using the Service, you consent to the collection and use of the Personal Data and other information as outlined in this Privacy Policy.
            </p>
            <h2 class="py-title">What Information We Collect</h2>
            <p class="py-txt">
                We may collect certain information from you when you use our Services. We collect and obtain 
                your information in a few ways: there is information that you choose to give to us, information 
                we obtain through your use of our Services – including our Platform – and information we obtain 
                from third parties. Each of these is detailed below:
            </p>
            <h3 class="py-subtitle">Information You Provide</h3>
            <p class="py-txt">
                In order to provide the Service to you, we may collect your personal information when you 
                voluntarily provide it to us through registration, or when you use of any of the features 
                available on the site and on the app. This may include but not limited to, registration data, 
                login data (including login data via other third-party platforms, like Facebook and Google), 
                account settings and content that you add to your profile (such as your address, email address, 
                username, telephone number, photos including those which have been deleted from your profile), 
                videos and other media files, information about your interests and activities, your gender, age, 
                height, weight, and other personal characteristics.
            </p>
            <h3 class="py-subtitle">Device Information</h3>
            <p class="py-txt">
                We will receive and record information about the device you use, such as the device model, 
                operating system version, device settings, unique device identifier and other information on 
                software and hardware features, and information about the location of the device (if you allowed 
                location services), such as the IP address, GPS location and Wi-Fi access point, and other sensor 
                information that can provide relevant information, based on the specific permissions that you 
                grant when installing and using the software.
            </p>
            <h3 class="py-subtitle">Data for Placing Order</h3>
            <p class="py-txt">
                When you activate the paid functions of the Service, some data are needed by SoulmateString or 
                our third-party service providers for invoicing, delivery, and payment of our paid functionality. 
                We do not collect or store full credit card number information, though we may receive credit 
                card-related information to help process future payments and summary information about transactions 
                that do not include credit card or bank account numbers.
            </p>
            <h3 class="py-subtitle">Cookies</h3>
            <p class="py-txt">
                A cookie is a small string of data sent by the Service that is stored in your Device and provided 
                back to the Service each time you interact with the Service. Cookies do not convey Personal Information 
                about you; they provide anonymous information to us regarding how you use the Service. We may use session 
                cookies, which are temporary cookies that disappear after you close your browser and/or persistent cookies, 
                which remain on your hard drive after you close your browser and are reloaded when you open a new browser 
                session. In general, cookies can make it so that you do not need to log-in again to the Service once you 
                have already done so, they help us and our partners better understand users’ interests in order to make 
                improvements, they allow us to show you specific content recommendations that we think will be of particular 
                interest to you, and they can make the Service load faster and more enjoyable to use.
                You can configure your Internet browser to warn you each time when a cookie is being sent or to refuse 
                cookies completely. However, disabling cookies may make certain features unavailable or not function 
                optimally, and we may not be able to tailor our recommendations as well as we would be able to if you 
                had not blocked the cookies.
            </p>
            <h3 class="py-subtitle">Data for Customer Support</h3>
            <p class="py-txt">
                We may collect or ask you to provide necessary information when you reach us by email or by 
                requesting online support. This information may include, without limitation, your name, your 
                email address, your order reference, how you use our service, your computer or device information 
                such as hardware and system version, crash logs, etc. In general, we collect no more information than 
                is required in order to investigate the issue you encounter. We will only use such information to 
                provide customer service and/or troubleshoot the technical problem you are experiencing.
            </p>
            <h3 class="py-subtitle">Use of Third-Party Ad Networks and Social Networks</h3>
            <p class="py-txt">
                We may use third-party advertising companies to serve ads when you use our Services. 
                Some of these ad networks may place a persistent cookie on your device in order to recognize 
                your device each time they send you an online advertisement. In this way, ad networks may compile 
                information about where you are, or who are using your device, saw their advertisements and 
                determine which ads are clicked on. This information allows an ad network to deliver targeted 
                advertisements that they believe will be of most interest to you. SoulmateString does not have access 
                to the cookies that may be placed by the third-party ad servers or ad networks.
                If you choose to ‘share’ SoulmateString with friends through Facebook, Twitter, or other social networks, 
                you might be sent cookies from these websites. We don’t control the setting of these cookies, so please check 
                those websites for more information about their cookies and how to manage them.
            </p>
            <h2 class="py-title">How We Use the Information</h2>
            <p class="py-txt">
                We collect your Personal Data and other information to give every User of the Service a safe, optimal, 
                and personal user experience. We use the personal information that we collect about you, or that you 
                provide to us, for the following purposes:
            </p>
            <p class="py-txt">
                <span class="py-txt-title">PUBLISHING YOUR USER PROFILE. </span>
                A social platform means that you can make contact with other users. We process your data in a 
                unique user profile that will be visible to other users, visitors of the platform, and users of 
                some search engines. A User controls the information on his or her profile and can choose whether 
                his or her profile is included in public search results.
            </p>
            <p class="py-txt">
                <span class="py-txt-title">PROVIDING COMMUNICATIONS. </span>
                We may use the obtained personal data to improve our application by analysis and interpretation 
                of user statistics. We are happy to make use of techniques to improve and renew our products and services.
            </p>
            <p class="py-txt">
                <span class="py-txt-title">Location Information and Services. </span>
                This Service includes location-based services and features. These features are used to connect you to other 
                users based upon your geographic location, and provide other services that personalize your experience. 
                To implement these features, we collect your location data, including but not limited to GPS data, WiFi 
                data, and cell tower data. We may also approximate your location by your IP Address. In some cases, we 
                assign the latitude and longitude of the center of a city or state on record for you to your profile as a 
                way to improve our analytics and matches for you.
            </p>
            <p class="py-txt">
                <span class="py-txt-title">DETECTING AND PREVENTING FRAUD AND/OR CRIMINAL BEHAVIOR. </span>
                This is necessary in order to be able to offer a secure and high-performance platform. Although we do not 
                usually read or monitor the messages sent or received by you via the Service, we reserve the right to access 
                and view such messages to detect any fraud or other illegal and undesirable user behavior, perform background 
                checks on users or take any legally required actions. For instance, that may happen if we receive numerous 
                complaints from the users on the content of the messages received from you.
            </p>
            <p class="py-txt">
                <span class="py-txt-title">PROVIDING PAID SERVICES. </span>
                By this, we mean any action necessary to ensure proper service to our users. We use the information 
                to personalize the Service for you, such as to select the payment processor available to you, determine 
                eligibility for promotions, and show you personalized promotions.
            </p>
            <h2 class="py-title">How We Protect Information</h2>
            <h3 class="py-subtitle">Security & Monitoring</h3>
            <p class="py-txt">
                We incorporate commercially reasonable safeguards to help protect and secure your Personal Data. However, 
                no electronic data transmission or storage of information can be guaranteed to be 100% secure. Please note 
                that we cannot ensure or warrant the security of any information you transmit to us, and you use the Service 
                and provide us with your information at your own risk.
                To help protect you and others, we may monitor your use of the Service and use your Personal Data and/or other 
                information we collect in order to: identify fraudulent activities and transactions; prevent abuse of and 
                investigate and/or prosecute potential threats to or misuse of the Service; ensure compliance with the 
                Terms of Use and this <a href="javascript:void(0);" class="g-link">Privacy Policy</a>; investigate violations of or enforce these agreements; and protect 
                the rights and property of you, SoulmateString its partners and other customers. This security monitoring may 
                result in the collection, recording, and analysis of online activity or communications through the Service. If 
                you do not consent to these conditions, you must discontinue your use of the Service.
            </p>
            <h3 class="py-subtitle">Editing and Deletion of Your Data</h3>
            <p class="py-txt">
                You always have the right to request editing and the deletion of your information
                When you have such requests, you can contact us by emailing <a href="javascript:void(0);" class="g-link">xxx</a>
                You may ask us to edit, delete, and stop accessing, storing, and using your information if you believe an 
                account was created for you without your permission, or you are no longer an active user. Where you gave us 
                consent to use your information for a limited purpose, you can contact us to withdraw that consent, but this 
                will not affect any processing that has already taken place at the time. When you make such requests, we may 
                need time to investigate and facilitate your request. If there is a delay or dispute as to whether we have 
                the right to continue using your information, we will restrict any further use of your information until the 
                request is honored or the dispute is resolved.
                For the information you provided to a third-party website or application, please contact those third-party service 
                providers directly to have your information edited or deleted. We do not have responsibility and control for any 
                information you provide to the third-party website.
            </p>
            <h2 class="py-title">How We Share the Information</h2>
            <p class="py-txt">Our policy is to not disclose your personal data, except in the limited circumstances described below:</p>
            <h3 class="py-subtitle">Third-Party Service Providers</h3>
            <p class="py-txt">
                We use third parties to help us operate and improve our services. These third parties assist us with various tasks, 
                including data hosting and maintenance, analytics, marketing, advertising, payment processing and security operations.
            </p>
            <p class="py-txt">
                We may also share information with partners who distribute and assist us in advertising our services. For instance, 
                we may share limited information on you in hashed, non-human readable form to advertising partners.
            </p>
            <p class="py-txt">
                We follow a strict vetting process prior to engaging any service provider or working with any partner. All of our 
                service providers and partners must agree to strict confidentiality obligations.
            </p>
            <h3 class="py-subtitle">Government and Law Enforcement</h3>
            <p class="py-txt">
                We may disclose your information if reasonably necessary: (i) to comply with a legal process, such as a court order, 
                subpoena or search warrant, government / law enforcement investigation or other legal requirements; (ii) to assist in 
                the prevention or detection of crime (subject in each case to applicable law); or (iii) to protect the safety of any person.
            </p>
            <h2 class="py-title">Children’s Privacy</h2>
            <p class="py-txt">
                Our services are restricted to users who are 18 years of age or older. We do not permit users under the age of 18 on our 
                platform and we do not knowingly collect personal information from anyone under the age of 18. If you suspect that a user 
                is under the age of 18, please <a href="javascript:void(0);" class="g-link">contact us.</a>
            </p>
            <h2 class="py-title">Changes to This Privacy Policy</h2>
            <p class="py-txt">
                We will occasionally update this privacy statement to reflect changes in our services and customer feedback. When we post 
                changes to this Statement, we will revise the "Last Updated" date at the top of this statement. So please review it periodically. 
                We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. If you 
                continue to use SoulmateString products or services after notice of the change has been given, you will be deemed to have 
                accepted such changes.
            </p>
            <h2 class="py-title">Contact Us</h2>
            <p class="py-txt">
                If you have any questions about this Privacy Policy or the Service, please contact us at <a href="javascript:void(0);" class="g-link">contact us.</a>
            </p>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-cnt">
                <div class="_left pc">
                    <img src="../../web/images/footer-logo.svg" alt="">
                </div>
                <div class="_right">
                    <ul class="_right_list">
                        <li>
                            <p>Dating APP</p>
                            <a href="/views/site/bbw.html">BBW</a>
                            <a href="/views/blog/index.html">Blog</a>
                        </li>
                        <li>
                            <p>Feature Pages</p>
                            <a href="/views/site/bbws.html">BBWs</a>
                            <a href="/views/site/bp.html">Body Positive</a>
                        </li>
                        <li>
                            <p>Resources</p>
                            <a href="/views/site/faqs.html">FAQ</a>
                            <a href="/views/site/about.html">About</a>
                            <a href="/views/site/feedback.html">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                <div class="tp">
                    <a href="../site/terms.html">Terms of Use</a> | 
                    <a href="../privacy/policy.html">Privacy</a>
                </div>
                <p class="copy">© 2021 SoulmateString All Rights Reserved </p>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="../../web/js/jquery-3.6.0.min.js"></script>
<script src="../../web/js/animation-scroll.min.js"></script>
<script src="../../web/js/common.min.js"></script>