@font-face {
    font-family: "Lora";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../font/Lora-Regular.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-Regular.ttf') format("ttf");
}

@font-face {
    font-family: "Lora";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../font/Lora-SemiBold.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-SemiBold.ttf') format("ttf");
}

@font-face {
    font-family: "Lora";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../font/Lora-BoldItalic.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-BoldItalic.ttf') format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../font/Inter-Regular.ttf'), /* IE9 Compat Mode */
    url('../font/Inter-Regular.ttf') format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../font/Inter-SemiBold.ttf'), /* IE9 Compat Mode */
    url('../font/Inter-SemiBold.ttf') format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../font/Inter-Bold.ttf'), /* IE9 Compat Mode */
    url('../font/Inter-Bold.ttf') format("ttf");
}