@font-face {
    font-family: "Lora";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../font/Lora-Regular.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-Regular.ttf') format("ttf");
}

@font-face {
    font-family: "Lora";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../font/Lora-SemiBold.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-SemiBold.ttf') format("ttf");
}

@font-face {
    font-family: "Lora";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../font/Lora-Bold.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-Bold.ttf') format("ttf");
}
@font-face {
    font-family: "LoraItalic";
    src: url('../font/Lora-BoldItalic.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-BoldItalic.ttf') format("ttf");
}
@font-face {
    font-family: "LoraItalic";
    src: url('../font/Lora-Italic.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-Italic.ttf') format("ttf");
}
@font-face {
    font-family: "LoraItalic";
    src: url('../font/Lora-Medium.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-Medium.ttf') format("ttf");
}
@font-face {
    font-family: "LoraItalic";
    src: url('../font/Lora-MediumItalic.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-MediumItalic.ttf') format("ttf");
}
@font-face {
    font-family: "LoraItalic";
    src: url('../font/Lora-SemiBoldItalic.ttf'), /* IE9 Compat Mode */
    url('../font/Lora-SemiBoldItalic.ttf') format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../font/Inter-Regular.ttf'), /* IE9 Compat Mode */
    url('../font/Inter-Regular.ttf') format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../font/Inter-SemiBold.ttf'), /* IE9 Compat Mode */
    url('../font/Inter-SemiBold.ttf') format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../font/Inter-Bold.ttf'), /* IE9 Compat Mode */
    url('../font/Inter-Bold.ttf') format("ttf");
}