.dp-banner {
    margin-top: 66px;
    background: url('../../images/blog/dp-banner-bg.png') no-repeat center center;
    .container {
        padding: 75px 0 80px;
        display: flex;
        justify-content: space-between;
        transition: all 1.2s;
        .dp-banner-left {
            width: 54%;
            .dp-banner-title {
                font: normal normal bold 28px/34px Inter;
                letter-spacing: -.02em;
                color: #fff;
                transition: all 1.2s;
            }
            .dp-banner-cupid {
                display: flex;
                justify-content: start;
                flex-wrap: wrap;
                margin-top: 16px;
                li {
                    position: relative;
                    width: 46%;
                    margin-top: 16px;
                    font: normal normal 600 14px/17px Inter;
                    color: rgba(255, 255, 255, .6);
                    text-indent: 22px;
                    &::before {
                        position: absolute;
                        top: 2px;
                        left: 0;
                        content: "";
                        width: 16px;
                        height: 13px;
                        background: url('../../images/icon/dp-vector.svg') no-repeat center center;
                    }
                }
            }
        }
        .dp-banner-right {
            .dp-banner-button {
                margin: 47px 0 0 233px;
            }
        }
    }
}
.dp-content {
    .container {
        display: flex;
        justify-content: space-between;
        .dp_left {
            margin-top: 252px;
            text-align: left;
            .dp_sticky {
                position: sticky;
                top: 80px;
                &>p {
                    font: normal normal bold 16px/19px Inter;
                    color: #000;
                }
                .dp_left_ap {
                    margin-top: 8px;
                    display: flex;
                    flex-direction: column;
                    &>a {
                        display: block;
                        margin-top: 16px;
                        font: normal normal normal 14px/17px Inter;
                        color: rgba(0, 0, 0, .5);
                        &:active {
                            color: #23A094;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .dp_right {
            width: 811px;
            padding: 24px 0 120px;
            .dp-crumbs {
                a {
                    font: normal normal 600 13px/16px Inter;
                    color: #23A094;
                }
            }
            .dp-essay {
                margin-top: 52px;
                &>h1 {
                    font: normal normal bold 40px/48px Inter;
                    color: #000;
                }
                &>h2 {
                    margin-top: 16px;
                    font: normal normal bold 32px/38px Inter;
                    color: #000;
                }
                &>h3 {
                    margin-top: 16px;
                    font: normal normal bold 24px/38px Inter;
                    color: #000;
                }
                .dp-essay-inf {
                    margin-top: 24px;
                    display: flex;
                    justify-content: space-between;
                    .author {
                        display: flex;
                        justify-content: space-between;
                        color: rgba(0, 0, 0, .6);
                        font: normal normal normal 14px/17px Inter;
                    }
                    .share {
                        display: flex;
                        color: #000;
                        font: normal normal normal 12px/14px Inter;
                        span {
                            margin-left: 10px;
                        }
                    }
                }
                .dp-img {
                    margin-top: 19px;
                }
                .dp-txt {
                    margin: 16px 0;
                    color: rgba(0, 0, 0, .8);
                    font: normal normal normal 16px/22px Inter;
                }
                .download-card {
                    padding: 41px 0 35px 64px;
                    border-radius: 12px;
                    .dc-title {
                        font: normal normal bold 24px/29px Inter;
                        &.cl-w {
                            color: #fff;
                        }
                        &.cl-b {
                            color: #000;
                        }
                    }
                    ul {
                        li {
                            position: relative;
                            margin-top: 8px;
                            color: rgba(255, 255, 255, .6);
                            font: normal normal 500 16px/21px Inter;
                            text-indent: 24px;
                            img {
                                position: absolute;
                                left: 0;
                                top: 0;
                                margin-right: 9px;
                            }
                        }
                        &.dc-reading {
                            li::before {
                                position: absolute;
                                top: 3px;
                                left: 0;
                                content: "";
                                width: 16px;
                                height: 13px;
                                background: url('../../images/icon/dp-vector.svg') no-repeat center center;
                            }
                        }
                        &.dc-find {
                            li {
                                color: rgba(0, 0, 0, .6);
                            }
                        }
                        &.dc-make {
                            li {
                                color: rgba(0, 0, 0, .6);
                            }
                        }
                    }
                    .dc-button {
                        padding: 12px 24px;
                        margin-top: 24px;
                    }
                    &.card-1 {
                        background: url('../../images/blog/essay-1.png') no-repeat center center;
                        &>a {
                            width: 199px;
                            box-sizing: border-box;
                        }
                    }
                    &.card-2 {
                        background: url('../../images/blog/essay-5.png') no-repeat center center;
                    }
                    &.card-3 {
                        background: url('../../images/blog/essay-2.png') no-repeat center center;
                    }
                }
                .download-btn {
                    padding: 12px 0;
                    text-align: center;
                    &>p {
                        margin-top: 20px;
                        color: rgba(0, 0, 0, .5);
                        font: normal normal normal 14px/14px Inter;
                    }
                }
            }
            .dp-related {
                margin-top: 70px;
                text-align: left;
                &>h2 {
                    font: normal normal 600 24px/29px Inter;
                }
                &-articles {
                    margin-top: 24px;
                    display: flex;
                    justify-content: space-between;
                    .dp-re-item {
                        width: 32%;
                        &-txt {
                            padding: 10px 10px 10px 0;
                            span {
                                padding: 4px 8px;
                                box-sizing: border-box;
                                background: #FF90E8;
                                border-radius: 17px;
                                font: normal normal bold 11px/100% Inter;
                            }
                            p {
                                margin-top: 7px;
                                font: normal normal 600 14px/17px Inter;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .dp-banner {
        background: url('../../images/blog/dp-bannerbg-mob.png') no-repeat center center;
        .container {
            flex-direction: column;
            padding: 37px 0 55px;
            .dp-banner-left {
                width: 100%;
                .dp-banner-title {
                    font: normal normal bold 27px/33px Inter;
                    color: #fff;
                    letter-spacing: -.02em;
                    text-align: center;
                }
            }
        }
    }
    .dp-content {
        .container {
            .dp_right {
                width: 100%;
                padding: 20px 0 49px 0;
                .dp-essay {
                    margin: 0;
                    &>h1 {
                        font: normal normal bold 28px/34px Inter;
                    }
                    &>h2 {
                        font: normal normal bold 24px/29px Inter;
                        margin-top: 24px;
                    }
                    .dp-essay-inf {
                        flex-direction: column;
                        margin-top: 26px;
                        .author {
                            justify-content: start;
                            .split-line {
                                margin: 0 9px;
                            }
                        }
                        .share {
                            margin-top: 26px;
                            span {
                                margin-left: 0;
                                margin-right: 10px;
                            }
                        }
                    }
                    .dp-img {
                        // width: 100%;
                        margin-top: 25ox;
                        img {
                            max-width: 100%;
                        }
                    }
                    .dp-txt {
                        margin: 24px 0;
                        font: normal normal normal 14px/20px Inter;
                    }
                    .download-card {
                        padding: 26px 14px 131px 30px;
                        ul {
                            li {
                                margin-top: 16px;
                            }
                            &.dc-reading {
                                li {
                                    &::before {
                                        content: none;
                                    }
                                    img {
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                        .dc-button {
                            margin-top: 25px;
                        }
                        &.card-1 {
                            background: url('../../images/blog/essay-1-mob.png') no-repeat center center;
                        }
                        &.card-2 {
                            background: url('../../images/blog/essay-5-mob.png') no-repeat center center;
                        }                   
                        &.card-3 {
                            background: url('../../images/blog/essay-2-mob.png') no-repeat center center;
                        }                    }
                }
                .dp-related {
                    .dp-related-articles {
                        margin-top: 0;
                        flex-direction: column;
                        .dp-re-item {
                            margin-top: 24px;
                            width: 100%;
                            img {
                                width: 100%;
                            }
                            .dp-re-item-txt {
                                padding: 22px 18px;
                                background: rgba(0, 0, 0, .06);
                            }
                        }
                    }
                }
            }
        }
    }
}