@import './banner.scss';



.faq-content {
    padding: 52px 0 117px;
    .container {
        width: 794px;
        .faq-content-item {
            position: relative;
            padding: 32px 0;
            border-bottom: 1px solid #E0E4ED;
            .item-title {
                position: relative;
                font: normal normal bold 22px/22px Inter;
                color: #000;
                transition-duration: 1.2s;
                cursor: pointer;
                &::after {
                    position: absolute;
                    top: 7px;
                    right: 0;
                    width: 15px;
                    height: 8px;
                    content: "";
                    background: url('../../images/icon/rectangle.svg') no-repeat 1px center;
                    transition: all .5s;
                }
            }
            .item-txt {
                margin-top: 16px;
                font: normal normal normal 15px/22px Inter;
                color: rgba(0, 0, 0, .6);
                transition-duration: 1.2s;
            }
            .item-txt-list {
                .list-title {
                    margin-top: 16px;
                    color: rgba(0, 0, 0, .7);
                    font: normal normal 600 15px/22px Inter;
                }
                .list-word {
                    margin-top: 4px;
                    color: rgba(0, 0, 0, .6);
                    font: normal normal normal 15px/22px Inter;
                    transition-duration: 1.2s;
                }
            }
            &>div {
                position: relative;
                overflow: hidden;
                // height: 0;
                left: 0;
                transition: .5s;
                display: none;
            }
            .g-link {
                text-decoration: underline;
                color: #23A094;
            }
            &:nth-child(1) {
                border-top: 1px solid #E0E4ED;
            }
            &.open-item {
                .item-title::after {
                    transform: rotateZ(180deg);
                }
                &>div {
                    display: block;
                    animation: openItem .5s forwards;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .faq-content {
        padding: 32px 0 72px;
        .container {
            width: 100%;
            .faq-content-item {
                .item-title {
                    font: normal normal bold 20px/20px Inter;
                }
                .item-txt-list {
                    &.none-title {
                        .list-word {
                            margin-top: 16px;
                        }
                    }
                }
            }
        }
    }
}