@import './banner.scss';

.fp-banner {
    .container {
        width: 840px;
    }
}
.fd-submit {
    .container {
        width: 794px;
        padding: 52px 0 107px;
        .fd-submit-content {
            &>h2 {
                font: normal normal normal 16px/24px Inter;
                color: rgba(0, 0, 0, .6);
                .g-link {
                    text-decoration: underline;
                    font: normal normal normal 16px/24px Inter;
                    color: #23A094;
                }
            }
            .fd-submit-form {
                padding-top: 10px;
                .fd-submit-form-row {
                    margin-top: 17px;
                    display: flex;
                    justify-content: space-between;
                    .fd-submit-form-row-item {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        label {
                            position: relative;
                            width: 100%;
                            input, select {
                                width: 100%;
                                height: 51px;
                                border: 2px solid #dcdce4;
                                border-radius: 6px;
                                color: rgba(0, 0, 0, .48);
                                font: normal normal 500 14px/100% Inter;
                                padding: 0 12px;
                                box-sizing: border-box;
                                &:focus {
                                    border: 2px solid #FF90E8;
                                    color: #000;
                                }
                                &:filled {
                                    background: #EFEFF4;
                                }
                            }
                            select {
                                appearance: none;
                                background: #fff url('../../images/icon/icon-select.svg') no-repeat right 14px center;
                                option {
                                    color: #2a2a2a;
                                    font: normal normal 500 14px/100% Inter;
                                }
                            }
                        }
                        .warning {
                            color: #FF7676;
                            font: normal normal normal 13px/24px Inter;
                        }
                        &.item-textarea {
                            flex: 1;
                            label {
                                width: 100%;
                                textarea {
                                    width: 100%;
                                    height: 126px;
                                    padding: 18px 13px;
                                    box-sizing: border-box;
                                    border: 2px solid #dcdce4;
                                    color: #2a2a2a;
                                    font: normal normal 500 14px/100% Inter;
                                    border-radius: 6px;
                                }
                            }
                        }
                    }
                    &.double {
                        .fd-submit-form-row-item {
                            width: 48%;
                        }
                    }
                    &.vcodeblock {
                        .fd-submit-form-row-item {
                            flex-direction: row;
                            label {
                                width: 220px;
                                input {
                                    width: 100%;
                                    padding: 0 12px;
                                }
                            }
                            .vcode {
                                position: relative;
                                display: flex;
                                margin-left: 12px;
                                justify-content: center;
                                align-items: center;
                                img {
                                    margin-top: 13px;
                                }
                            }
                        }
                    }
                    &.upload-row {
                        .fd-submit-form-row-item {
                            flex-direction: row;
                            &>div {
                                position: relative;
                                width: 88px;
                                height: 88px;
                                background: #F6F6F8;
                                border-radius: 4px;
                                margin-right: 12px;
                                text-align: center;
                                padding: 19px 9px 20px;
                                box-sizing: border-box;
                                p {
                                    margin-top: 5px;
                                    color: rgba(0, 0, 0, .48);
                                    font: normal normal 500 12px/12px Inter;
                                }
                                input {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                &>p {
                    margin-top: 32px;
                    font: normal normal normal 14px/21px Inter;
                    color: rgba(0, 0, 0, .6);
                }
                .btnzone {
                    margin-top: 16px;
    
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .fp-banner {
        .container {
            width: 100%;
            .fp-banner-title {
                letter-spacing: -.04em;
            }
            .fp-banner-txt {
                font: normal normal normal 16px/19px Inter;
            }
        }
    }
    .fd-submit {
        .container {
            padding: 32px 10px;
            width: 100%;
            .fd-submit-content {
                .fd-submit-form {
                    padding-top: 15px;
                    .fd-submit-form-row {
                        flex-direction: column;
                        margin-top: 0;
                        .fd-submit-form-row-item {
                            label {
                                margin-top: 28px;
                            }
                        }
                        &.double {
                            .fd-submit-form-row-item {
                                width: 100%;
                            }
                        }
                        &.upload-row {
                            margin-top: 16px;
                        }
                        &.vcodeblock {
                            .fd-submit-form-row-item {
                                label {
                                    margin-top: 16px;
                                    width: 57.5vw;
                                }
                                
                            }
                        }
                    }
                    .btnzone {
                        button {
                            width: 100%;
                            padding: 22px 0;
                            &::before {
                                left: 41vw;
                            }
                        }
                    }
                }
            }
        }
    }
}