@import './banner.scss';

.fp-banner {
    .container {
        width: 840px;
    }
}
.fd-submit {
    .container {
        width: 794px;
        padding: 52px 0 107px;
        .fd-submit-content {
            &>h2 {
                font: normal normal normal 16px/24px Inter;
                color: rgba(0, 0, 0, .6);
                .g-link {
                    text-decoration: underline;
                    font: normal normal normal 16px/24px Inter;
                    color: #23A094;
                    vertical-align: top;
                }
            }
            .fd-submit-form {
                padding-top: 10px;
                .fd-submit-form-row {
                    margin-top: 17px;
                    display: flex;
                    justify-content: space-between;
                    .fd-submit-form-row-item {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        label {
                            position: relative;
                            width: 100%;
                            input {
                                width: 100%;
                                // height: 51px;
                                padding: 19px 12px;
                                border: 2px solid #dcdce4;
                                border-radius: 6px;
                                color: rgba(0, 0, 0, .48);
                                font: normal normal 500 14px/100% Inter;
                                box-sizing: border-box;
                                letter-spacing: -.02em;
                                &:focus {
                                    border: 2px solid #FF90E8;
                                    color: #000;
                                }
                                &::selection {
                                    background: #000;
                                }
                            }
                        }
                        .error {
                            position: relative;
                            left: 0;
                            top: -10px;
                            color: #FF7676;
                            font: normal normal normal 13px/24px Inter;
                            transition: all .3s;
                            display: none;
                            img {
                                position: relative;
                                top: -1px;
                            }
                        }
                        &.item-textarea {
                            flex: 1;
                            label {
                                width: 100%;
                                textarea {
                                    width: 100%;
                                    height: 126px;
                                    padding: 18px 13px;
                                    box-sizing: border-box;
                                    border: 2px solid #dcdce4;
                                    color: #2a2a2a;
                                    font: normal normal 500 14px/100% Inter;
                                    border-radius: 6px;
                                }
                            }
                        }
                        .select {
                            position: relative;
                            width: 100%;
                            height: 58px;
                            padding: 20px 16px;
                            box-sizing: border-box;
                            background: #FFF;
                            border: 2px solid #DCDCE4;
                            border-radius: 6px;
                            color: rgba(0, 0, 0, .48);
                            font: normal normal normal 14px/14px Inter;
                            letter-spacing: -.02em;
                            transition: all .3s;
                            &::after {
                                position: absolute;
                                top: 26px;
                                right: 17px;
                                content: "";
                                width: 12px;
                                height: 8px;
                                background: url('../../images/icon/icon-select.svg') no-repeat center center;
                                transition: all .5s;
                            }
                            &.has-selected {
                                background: #EFEFF4;
                                border: 2px solid #DCDCE4;
                            }
                        }
                        .select-list {
                            position: absolute;
                            // top: 28px;
                            display: none;
                            z-index: 99;
                            margin-top: 4px;
                            width: 100%;
                            padding: 12px;
                            background: #FFFFFF;
                            border: 2px solid #DCDCE4;
                            box-sizing: border-box;
                            border-radius: 6px;
                            li {
                                font: normal normal normal 14px/14px Inter;
                                border-radius: 6px;
                                padding: 12px;
                                cursor: default;
                                &:hover {
                                    background: rgba(255, 144, 232, 0.25);
                                }
                            }
                        }
                        &.open {
                            .select {
                                border: 2px solid #FF90E8;
                                &::after {
                                    transform: rotateZ(180deg);
                                }
                            }
                            .select-list {
                                animation: drop-select .5s forwards;
                                display: block;
                            }
                        }
                        &.invalid {
                            input {
                                border: 2px solid #FF7676;
                            }
                            span {
                                display: block;
                                animation: errormsg .3s forwards;
                            }
                        }
                        &.valid {
                            input, .suggestion {
                                background: #EFEFF4;
                            }
                        }                    
                    }
                    &.double {
                        .fd-submit-form-row-item {
                            width: 48%;
                        }
                    }
                    &.vcodeblock {
                        .fd-submit-form-row-item {
                            flex-direction: row;
                            label {
                                width: 220px;
                                input {
                                    width: 100%;
                                }
                            }
                            .vcode {
                                position: relative;
                                display: flex;
                                margin-left: 12px;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                    &.upload-row {
                        .fd-submit-form-row-item {
                            flex-direction: row;
                            &>div {
                                position: relative;
                                width: 88px;
                                height: 88px;
                                background: #F6F6F8;
                                border-radius: 4px;
                                margin-right: 12px;
                                text-align: center;
                                padding: 19px 9px 20px;
                                box-sizing: border-box;
                                p {
                                    margin-top: 5px;
                                    color: rgba(0, 0, 0, .48);
                                    font: normal normal 500 12px/12px Inter;
                                }
                                input {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                &>p {
                    margin-top: 32px;
                    font: normal normal normal 14px/21px Inter;
                    color: rgba(0, 0, 0, .6);
                }
                .btnzone {
                    button {
                        position: relative;
                        display: flex;
                        padding: 22px 89px;
                        box-sizing: border-box;
                        margin-top: 16px;
                        span {
                            font: normal normal bold 16px/16px Inter;
                            letter-spacing: -.02em;
                        }
                        cursor: pointer;
                        &::before {
                            position: absolute;
                            top: 22px;
                            left: 89px;
                            content: "SEND";
                            font: normal normal bold 16px/16px Inter;
                            letter-spacing: -.02em;
                        }
                    }
                    margin-top: 16px;
                }
            }
        }
    }
}
.fd-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}
.fd-flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    .flag {
        margin: 430px auto 0;
        width: 365px;

        background: #EFEFF4;
        border: 2px solid #DCDCE4;
        box-sizing: border-box;
        padding: 62px 38px 54px;
        border-radius: 8px;
        text-align: center;
        display: none;
        h3 {
            margin-top: 8px;
            font: normal normal bold 24px/29px Inter;
        }
        p {
            margin-top: 8px;
            color: rgba(0, 0, 0, .6);
            font: normal normal normal 16px/19px Inter;
        }
        button {
            position: relative;
            display: flex;
            margin: 32px auto 0;
            box-sizing: border-box;
            padding: 22px 98px;
            cursor: pointer;
            span {
                font: normal normal bold 16px/16px Inter;
                letter-spacing: -.02em;
            }
            &::before {
                position: absolute;
                top: 22px;
                left: 98px;
                content: "OK";
                font: normal normal bold 16px/16px Inter;
                letter-spacing: -.02em;
            }
        }
        &.flagModel {
            display: block;
            position: relative;
            animation: fadeInDown .6s forwards;
        }
    }
}

@media (max-width: 768px) {
    .fp-banner {
        .container {
            width: 100%;
            .fp-banner-title {
                letter-spacing: -.04em;
            }
            .fp-banner-txt {
                font: normal normal normal 16px/19px Inter;
            }
        }
    }
    .fd-submit {
        .container {
            padding: 32px 10px;
            width: 100%;
            .fd-submit-content {
                .fd-submit-form {
                    padding-top: 15px;
                    .fd-submit-form-row {
                        flex-direction: column;
                        margin-top: 0;
                        .fd-submit-form-row-item {
                            label {
                                margin-top: 28px;
                            }
                        }
                        &.double {
                            .fd-submit-form-row-item {
                                width: 100%;
                            }
                        }
                        &.upload-row {
                            margin-top: 16px;
                        }
                        &.vcodeblock {
                            .fd-submit-form-row-item {
                                label {
                                    margin-top: 16px;
                                    width: 57.5vw;
                                }
                                img {
                                    margin-top: 13px;
                                }
                            }
                        }
                        &.fd-select-row {
                            .fd-submit-form-row-item {
                                margin-top: 28px;
                            }
                        }
                    }
                    .btnzone {
                        button {
                            width: 100%;
                            padding: 22px 0;
                            &::before {
                                left: 41vw;
                            }
                        }
                    }
                }
            }
        }
    }
    .fd-flag {
        .flag {
            width: 100%;
        }
    }
}