.home {
    width: 100vw;
    height: auto;
    position: relative;
    button {
        outline: none;
        border: none;
    }
    .main {
        width: 100vw;
        height: auto;
        position: relative;
        .slider {
            position: relative;
            overflow: hidden;
            height: 700px;
            .logo {
                position: absolute;
                left: 18.75%;
                top: 26px;
                z-index: 10;
                a {
                    width: 193px;
                    height: 40px;
                    display: inline-block;
                    background: url('../images/home/logo.png') no-repeat center center;
                }
            }
            ul {
                position: relative;
                margin: 0;
                padding: 0;
                height: 700px;
                list-style: none;
                width: 300%;
                li {
                    position: relative;
                    display: block;
                    float: left;
                    margin: 0;
                    padding: 0;
                    width: 33.34%;
                    height: 700px;
                }
                li.banner_one {
                    background: url('../images/home/banner1.png') no-repeat center center;
                    .container {
                        margin-top: 169px;
                        font-family: Inter;
                        h1 {
                            font-size: 80px;
                            line-height: 83px;
                            font-weight: bold;
                            color: #FFFFFF;
                            span {
                                color: #FF90E8;
                                font-weight: bold;
                            }
                        }
                        .banner_p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 32px;
                            line-height: 44px;
                            color: #FFFFFF;
                            margin: 24px 0px;
                        }
                        .banner_word {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 32px;
                            color: rgba(255, 255, 255, 0.6);
                            margin: 24px 0px;
                        }
                        button {
                            width: 275px;
                            height: 62px;
                            margin: 24px 0px;
                            border-radius: 6px;
                            background: #FF90E8;
                            outline: none;
                            border: none;
                            a {
                                width: 100%;
                                height: 100%;
                                display: inline-block;
                                line-height: 56px;
                                background: #FF90E8;
                                font-family: Inter;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }
                    }
                }
                li.banner_two {
                    background: url('../images/home/banner2.png') no-repeat center center;
                    .container {
                        margin-top: 169px;
                        font-family: Inter;
                        h2 {
                            font-family: Inter;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 80px;
                            line-height: 83px;
                            color: #000000;
                            margin: 24px 0px;
                            span {
                                color: #FF90E8;
                                font-weight: bold;
                            }
                        }
                        .banner_p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 32px;
                            line-height: 44px;
                            color: #323B4B;
                            margin: 24px 0px;
                        }
                        .banner_word {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 32px;
                            color: #8A94A6;
                            margin: 24px 0px;
                        }
                    }
                }
                li.banner_three {
                    background: url('../images/home/banner3.png') no-repeat center center;
                    .container {
                        margin-top: 169px;
                        font-family: Inter;
                        font-style: normal;
                        h2 {
                            font-weight: bold;
                            font-size: 80px;
                            line-height: 83px;
                            color: #FFFFFF;
                            margin: 24px 0px;
                            span {
                                color: #FF90E8;
                                font-weight: bold;
                            }
                        }
                        .banner_p {
                            font-weight: bold;
                            font-size: 32px;
                            line-height: 44px;
                            color: #FFFFFF;
                            margin: 24px 0px;
                        }
                        .banner_word {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 32px;
                            color: rgba(255, 255, 255, 0.6);
                            margin: 24px 0px;
                        }
                    }
                }
            }
        }
    }
    .confirm_pop {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 88px;
        background: rgba(0, 0, 0, 0.83);
        backdrop-filter: blur(98px);
        .warp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            p {
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: rgba(255, 255, 255, 0.8);
                a {
                    color: #FF90E8;
                    text-decoration: underline;
                }
            }
            button {
                width: 135px;
                height: 48px;
                background: #FF90E8;
                border-radius: 6px;
                cursor: pointer;
                color: #000000;
                font-weight: 600;
            }
        }
    }
}

// // mobile
@media (max-width: 768px) {
    .home {
        .main {
            margin-top: 66px;
            .slider {
                height: 592px;
                .logo {
                    display: none;
                }
                ul {
                    height: 592px;
                    li {
                        height: 592px;
                        .container {
                            width: 100%;
                        }
                    }
                    li.banner_one {
                        background: url('../images/home/banner1_mob.png') no-repeat center center;
                        background-size: cover;
                        .container {
                            padding-left: 1rem;
                            box-sizing: border-box;
                            margin-top: 0;
                            h1 {
                                font-size: 2.5rem;
                                line-height: 110%;
                                margin: 1.25rem 0px .875rem;
                            }
                            .banner_p {
                                margin: 0;
                                font-size: 1.375rem;
                                line-height: 120%;
                            }
                            .banner_word {
                                font-size: 1rem;
                                line-height: 150%;
                                margin: .875rem 0;
                            }
                            button {
                                margin: 0;
                                width: 152px;
                                height: 47px;
                                a {
                                    font-size: 1.125rem;
                                    line-height: 45px;
                                    color: #000000;
                                }
                            }
                        }
                    }
                    li.banner_two {
                        background: url('../images/home/banner2_mob.png') no-repeat center center;
                        background-size: cover;
                        .container {
                            padding-left: 1rem;
                            box-sizing: border-box;
                            margin-top: 0;
                            h2 {
                                font-size: 2.5rem;
                                line-height: 110%;
                                margin: 1.25rem 0px .875rem;
                            }
                            .banner_p {
                                margin: 0;
                                font-size: 1.375rem;
                                line-height: 120%;
                            }
                            .banner_word {
                                font-size: 1rem;
                                line-height: 150%;
                                margin: .875rem 0;
                                width: 20.3rem;
                            }
                        }
                    }
                    li.banner_three {
                        background: url('../images/home/banner3_mob.png') no-repeat center center;
                        background-size: cover;
                        .container {
                            padding-left: 1rem;
                            box-sizing: border-box;
                            margin-top: 0;
                            h2 {
                                font-size: 2.5rem;
                                line-height: 110%;
                                margin: 1.25rem 0px .875rem;
                                .banner_br {
                                    display: none;
                                }
                            }
                            .banner_p {
                                margin: 0;
                                font-size: 1.375rem;
                                line-height: 120%;
                            }
                            .banner_word {
                                font-size: 1rem;
                                line-height: 150%;
                                margin: .875rem 0;
                                width: 20.3rem;
                            }
                        }
                    }
                }
            }
        }
        .confirm_pop {
            height: 8.5rem;
            .container {
                width: 100%;
                padding: 0 1rem;
                box-sizing: border-box;
                .warp {
                    display: block;
                    margin-top: 1rem;
                    p {
                        font-size: .75rem;
                        font-weight: normal;
                        line-height: 150%;
                        .brbr {
                            display: none;
                        }
                    }
                    button {
                        width: 73px;
                        height: 34px;
                        font-weight: 600;
                        font-size: .75rem;
                        line-height: 150%;
                        margin-top: .85rem;
                    }
                }
            }
        }
    }
}