<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="What is body positivity and body neutrality? How to be body positive? Now, the BBW finder, PlusCupid helps you to meet positive groups.">
    <title>Body Positive and Self Affirmative - Be the Real, Be the Positive</title>
    <link rel="stylesheet" href="../../web/css/pages/bp.css">
    <link rel="stylesheet" href="../../web/css/global.css">
</head>
<section class="home">
    <header class="header-pc">
        <div class="nav-logo">
            <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
        </div>
        <div class="nav-btns">
            <ul>
                <li><a href="../site/bbw.html">BBW Dating</a></li>
                <li><a href="../site/bbws.html">BBWs</a></li>
                <li><a href="../site/bp.html">Body Positive</a></li>
                <li><a href="../blog/index.html">Blog</a></li>
                <li>
                    <a href="" class="button download-button nav-button hover-logo">
                        <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>&nbsp;
                        <span>T</span>
                        <span>H</span>
                        <span>E</span>&nbsp;
                        <span>A</span>
                        <span>P</span>
                        <span>P</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <header class="header-mob">
        <div class="nav-logo">
            <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
        </div>
        <div class="nav-btn">
            <img src="../../web/images/nav-btn-mob.png" alt="">
        </div>
    </header>
    <section class="banner animate">
        <div class="container">
            <strong class="bp_logo ani1"></strong>
            <h1 class="ani2">Be <span class="pink">Body Positive</span> <br> Forever </h1>
            <p class="banner_word ani3">Live Our Life, Because We’re Worth It!</p>
            <p class="banner_pp ani4">Nobody can be defined, so does the body. All body sizes shape who we are, we can never, ever neglect our body value, and all ourselves have the power to be body positive forever.</p>

            <p class="banner_pp_mob ani3">Nobody can be defined, so does the body. All body sizes shape who we are, we can never, ever neglect our body value, and all ourselves have the power to be body positive forever.</p>
            <p class="banner_word_mob ani6">Live Our Life, Because We’re Worth It!</p>
        </div>
    </section>

    <section class="section1">
        <div class="container">
            <h2 class="ani1">Body Positivity vs Body Neutrality</h2>
            <div class="sec1_con">
                <div class="sec1_word ani_left1">I love my body shape, cellulite and all, it is beautiful.
                    <p>-- <span class="pink">Body Positivity</span></p>
                </div>
                <div class="sec1_info">
                    <div class="sec1_info_word ">
                        <p class="ani3">Being <span class="pink">body positive</span> makes us an optimist, an aspiring person;</p>
                        <p class="ani4">Being <span class="green">body neutral</span> brings us infinite self-exploration and possibility.</p>
                    </div>

                    <div class="sec1_word ani_right">I love my body shape, big or petite, it is helpful.
                        <p>-- <span class="green">Body Neutrality</span></p>
                    </div>
                </div>
            </div>
            <div class="sec1_pic">
                <ul>
                    <li class="ani5">
                        <img src="../../web/images/bp/sec1_left.png" class="ani7">
                        <strong class="ani8">What Is Body Neutrality?</strong>
                        <p class="ani9">Objectively, we can exist without thinking too much about our body one way or another, positive or negative. Big, huge, fat or else, no words can define our body parts, and no words can restrict us from becoming who we are. And
                            that is the focus of body neutrality. Body neutrality promotes accepting our body as is and recognizing its God-given abilities instead of the physical appearance defined by purely positive body images.</p>
                    </li>
                    <li class="ani6">
                        <img src="../../web/images/bp/sec1_right.png" class="ani8">
                        <strong class="ani9">What Is Body Positivity?</strong>
                        <p class="ani10">Perceptually, body positivity tells us bodies come in all shapes and sizes, rather than the stereotyped thin ideal conferred by popular media messages. Under the body positive assertion, all people deserve to have a positive body
                            image regardless of how society and popular culture define ideal physical shape, size, and appearance; all people deserve to share the equality irrespective of race, gender, sexuality, and disability.</p>
                    </li>
                </ul>
            </div>
            <div class="sec1_warp">
                <h3 class="ani11">Body Positive Quotes</h3>
                <ul class="sec1_ulul">
                    <li class="sec1_li1 ani12">
                        <p>“This body has carried me through a hard life. It looked exactly the way it was supposed to.”
                        </p>
                    </li>
                    <li class="sec1_li2 ani13">
                        <p>“I love my body because it allows me to experience the world around me and try new things.”
                        </p>
                    </li>
                    <li class="sec1_li3 ani14">
                        <p>“I am perfect, whole, and complete just the way I am.”
                        </p>
                    </li>
                </ul>

                <div class="ulul_circul ani15">
                    <!-- <div class="cir_color"></div>
                    <div></div>
                    <div></div> -->
                </div>
                <p class="sec1_warp_word ani15">Body positivity means liking the way you look. Body neutrality means focus more on what your body can do right now. Being body neutral, believe in God; being body positive, believe in ourselves.</p>
                <p class="sec1_warp_pink pink ani16">Being positive forever, we’re totally worth it.</p>
            </div>

        </div>
    </section>
    <section class="section2">
        <div class="container">
            <h3 class="ani1">How to Be Body Positive?</h3>
            <p class="sec2_word ani2">Rome was not built in a day, and the body positive can’t be accomplished at one stroke. But to trust ourselves, to be self-expressed, can always make us shine. Re-recognizing ourselves & loving ourselves can always be the first step to building
                up our body positivity.</p>
            <ul>
                <li>
                    <b class="ani3">Appreciating Your Body in Spite of Flaws</b>
                    <p class="ani4">We were born to be real, not perfect, to embrace your flaw is to embrace your life. Say no to body negativity but hi to body positive – you are not a sex doll for the male gaze, you are strong & independent. You shall feel good about
                        yourself because you know, you are beautiful. You are so special and so unique, there is only one you in the universe, you shall love yourself more in spite of flaws.</p>
                </li>
                <li>
                    <b class="ani7">Accepting Your Body’s Shape and Size</b>
                    <p class="ani8">Russell once said, in his book A History of Western Philosophy, that diversity is essential to happiness. Thus, slim is beauty, the curve is beauty, too. Tiny is beautiful and big is beautiful, too. The key is to find them to be body
                        positive, to love the diverseness and yourself. And to believe firmly that there will be a Mr. & Mrs. Right that falls for your BBW charming. </p>
                </li>
                <li class="sec2_li">
                    <b class="ani5">Feeling Confident About Your Body</b>
                    <p class="ani6">Body positive is the ability to feel at home in your body, no matter your size or shape. Your body is yours, there is no such thing as a 'perfect' body, and you can have your own body only for you & for your whole life. So, be confident
                        in yourself, because you are beautiful & cute.
                    </p>
                </li>
                <li class="sec2_li">
                    <b class="ani9">Try Health-Focused Self-care</b>
                    <p class="ani10">It’s good to be body positive but never look down upon your body health. Just look for things that make you feel comfortable and good about how you look, just focus on doing things that make you feel good about the body you have now,
                        and just purge your social media feeds of accounts that don’t make you feel good about yourself.</p>
                </li>
            </ul>
        </div>


        <div class="sec2_get">
            <h3 class="ani11"> <span>Be Body Positive</span> <strong>Like BBW & BHM</strong> Go Out on PlusCupid</h3>
            <p class="ani12">BBW (Big Beautiful Woman) and BHM (Big Handsome Man) are always body positive, always laughing out loud in life. PlusCupid, where the BBW & BHM are at all times represented, succeeds in getting BBW & BHM out on promising dates rather than
                keeping on the app.</p>
            <button type="button" class="ani13">
                <a href="#">GO OUT NOW</a>
            </button>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <h2 class="ani1">BBW Dating App - <span class="pink">PlusCupid</span> </h2>
            <p class="sec3_word ani2">PlusCupid is the top BBW dating app that focuses on Friendliness and Honesty. Whether you’re looking for love, a date, or just a chat, it has got something for local singles everywhere and features that give you the best body positive dating
                experience.
            </p>
            <div class="sec3_con">
                <div class="sec3_con_left">
                    <b class="ani_left1">Match. Chat. Date. </b>
                    <b class="ani_left2">That’s our mantra.</b>
                    <p class="ani_left3">It’s easy and fun to find BBW & BHM on PlusCupid.</p>
                    <div class="phone ani_left5">
                        <img src="../../web/images/bp/phone.png">
                    </div>
                    <button type="button" class="ani_left6">
                        <a href="#">Match Now</a>
                    </button>
                </div>
                <div class="sec3_con_right">
                    <ul>
                        <li class="sec3_con_li">
                            <strong class="sec3_pic1 ani_right">Positive Dating</strong>
                            <dl class="dl_one ani_right3">
                                <dt>Positive diversity</dt>
                                <dd>On PlusCupid, you can be BBW or BHM, curvy or slim, single or not, stocky or petite, average or full figured, straight, gay, or bisexual.</dd>
                            </dl>
                            <dl class="ani_right4">
                                <dt>Positive moments</dt>
                                <dd>no body bias, on PlusCupid Moments, you can find the body positive one who has the common interests.</dd>
                            </dl>
                            <dl class="ani_right5">
                                <dt>Positive beginning</dt>
                                <dd>after the match succeeds, the Cupid Luna will be the icebreaker, warming up your chat and date.</dd>
                            </dl>
                        </li>
                        <li>
                            <strong class="sec3_pic2 ani_right6">Trusted & Quality BBWs</strong>
                            <p class="ani_right7">On PlusCupid, authentic convos between the BBWs are the base, mutual intended likes guarantee no creeps, voice & image verified profile brings you the sense of trust, and advanced match filter sends you quality and body positive
                                one.
                            </p>
                        </li>
                        <li>
                            <strong class="sec3_pic3 ani_right8">Assured Privacy</strong>
                            <p class="ani_right9">On PlusCupid, all users’ registration info will be checked by AI and PlusCupid staff, preventing bots users or scammers. All PlusCupid data will be strictly conserved. Exclusively, you can send Instant Photo when chatting on
                                PlusCupid, avoiding your private photo leaking.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="sec3_info">
            <div class="container">
                <h3 class="ani1">On <span class="pink"> PlusCupid </span>, All Bodies Are Positive</h3>
                <p class="ani2">Nothing to do with physical size and shape, race, gender, sexuality, and disability, the choice must be yours. All bodies are beauties on PlusCupid, everybody is body positive on PlusCupid.</p>
                <button type="button" class="ani3">
                    <a href="#">Dating Now</a>
                </button>
            </div>
        </div>
    </section>
</section>

<section class="go_back"></section>
<footer class="footer">
    <div class="container">
        <div class="footer-cnt">
            <div class="_left pc">
                <img src="../../web/images/footer-logo.svg" alt="">
            </div>
            <div class="_right">
                <ul class="_right_list">
                    <li>
                        <p>Dating APP</p>
                        <a href="/views/site/bbw.html">BBW</a>
                        <a href="/views/blog/index.html">Blog</a>
                    </li>
                    <li>
                        <p>Feature Pages</p>
                        <a href="/views/site/bbws.html">BBWs</a>
                        <a href="/views/site/bp.html">Body Positive</a>
                    </li>
                    <li>
                        <p>Resources</p>
                        <a href="/views/site/faqs.html">FAQ</a>
                        <a href="/views/site/about.html">About</a>
                        <a href="/views/site/feedback.html">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copy">
            <div class="tp">
                <a href="../site/terms.html">Terms of Use</a> |
                <a href="../privacy/policy.html">Privacy</a>
            </div>
            <p class="copy">© 2021 SoulmateString All Rights Reserved </p>
        </div>
    </div>
</footer>

<body>

</body>
<script src="../../web/js/jquery-3.6.0.min.js"></script>
<script src="../../web/js/common.min.js"></script>
<script src="../../web/js/bp.min.js"></script>

</html>