<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="What is body positivity and body neutrality? How to be body positive? Now, the BBW finder, PlusCupid helps you to meet positive groups.">
    <title>Body Positive and Self Affirmative - Be the Real, Be the Positive</title>
    <link rel="stylesheet" href="../../web/css/pages/bp.css">
    <link rel="stylesheet" href="../../web/css/global.css">
</head>
<section class="home">
    <header class="header-pc">
        <div class="nav-logo">
            <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
        </div>
        <div class="nav-btns">
            <ul>
                <li><a href="../site/bbw.html">BBW Dating</a></li>
                <li><a href="../site/bbws.html">BBWs</a></li>
                <li><a href="../site/bp.html">Body Positive</a></li>
                <li><a href="../blog/index.html">Blog</a></li>
                <li>
                    <a href="" class="button download-button nav-button hover-logo">
                        <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>&nbsp;
                        <span>T</span>
                        <span>H</span>
                        <span>E</span>&nbsp;
                        <span>A</span>
                        <span>P</span>
                        <span>P</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <header class="header-mob">
        <div class="nav-logo">
            <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
        </div>
        <div class="nav-btn">
            <img src="../../web/images/nav-btn-mob.png" alt="">
        </div>
    </header>
    <section class="banner">
        <div class="container">
            <strong class="bp_logo"></strong>
            <h1>Be <span class="pink">Body Positive</span> <br> Forever </h1>
            <p class="banner_word">Live Our Life, Because We’re Worth It!</p>
            <p class="banner_pp">Nobody can be defined, so does the body. All body sizes shape who we are, we can never, ever neglect our body value, and all ourselves have the power to be body positive forever.</p>
        </div>
    </section>

    <section class="section1">
        <div class="container">
            <h2>Body Positivity vs Body Neutrality</h2>
            <div class="sec1_word">I love my body shape, cellulite and all, it is beautiful.
                <p>-- <span class="pink">Body Positivity</span></p>
            </div>
            <div class="sec1_info">

            </div>
        </div>
    </section>
</section>

<body>

</body>
<script src="../../web/js/jquery-3.6.0.min.js"></script>
<script src="../../web/js/common.min.js"></script>
<script src="../../web/js/bp.min.js"></script>

</html>