<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SoulmateString FAQs - Learn how to use SoulmateString service, fix a problem, and get answers to your questions quickly.">
    <link rel="stylesheet" href="../../web/css/global.css">
    <link rel="stylesheet" href="../../web/css/pages/faq.css">
    <title>FAQs - SoulmateString</title>
</head>
<body>
    <!-- faqs -->
    <header class="header-pc">
        <div class="nav-logo">
            <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
        </div>
        <div class="nav-btns">
            <ul>
                <li><a href="../site/bbw.html">BBW Dating</a></li>
                <li><a href="../site/bbws.html">BBWs</a></li>
                <li><a href="../site/bp.html">Body Positive</a></li>       
                <li><a href="../blog/index.html">Blog</a></li>
                <li><a href="" class="button download-button nav-button hover-logo">
                        <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>&nbsp;
                        <span>T</span>
                        <span>H</span>
                        <span>E</span>&nbsp;
                        <span>A</span>
                        <span>P</span>
                        <span>P</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <header class="header-mob">
        <div class="nav-logo">
            <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
        </div>
        <div class="nav-btn">
            <img src="../../web/images/nav-btn-mob.png" alt="">
        </div>
    </header>

    <!-- banner -->
    <section class="fp-banner custom-sc">
        <div class="container">
            <h1 class="fp-banner-title fadeInUp delay1">Frequently Asked Questions</h1>
            <p class="fp-banner-txt fadeInUp delay4">Find immediate answers to our most commonly asked questions that will help you resolve most of problems.</p>
        </div>
    </section>
    <!-- content -->
    <section class="faq-content">
        <div class="container">
            <div class="faq-content-item">
                <h3 class="item-title">1. Is it safe to use a dating app?</h3>
                <div>
                    <p class="item-txt">Absolutely Yes. SoulmateString always considers the security and the privacy of users’ data extremely important. 
                        At SoulmateString , we believe in customer safety and your personal information is always treated with the highest 
                        level of security. We have strict <a href="../privacy/policy.html" class="g-link">Privacy Policy</a> to keep your data safe and have an in-house fraud team who monitor 
                        and investigate any suspicious activity. We also regularly assess and work to improve our security in an effort to 
                        enhance the safety of our user community.
                    </p>
                </div>
            </div>
            <div class="faq-content-item">
                <h3 class="item-title">2. Is it necessary to enable GPS location?</h3>
                <div>
                    <p class="item-txt">Our dating app includes location-based services and features. These features are used to connect 
                        you to other users based upon your geographic location, and recommend nearby potential matches based on your GPS 
                        location. So, it is necessary to access your GPS location to personalize your experience.
                    </p>
                </div>
            </div>
            <div class="faq-content-item">
                <h3 class="item-title">3. How to get matched with other members?</h3>
                <div>
                    <p class="item-txt">Once you've completed the profile and personal details, our advanced matching algorithm searches 
                        our user database to find suitable matches for you. Then you can check the recommended profiles and initiate contact 
                        with the one you want to establish a relationship. Once you receive a reply, that person will be added into your “Matches” 
                        list for further communication.
                    </p>
                </div>
            </div>
            <div class="faq-content-item">
                <h3 class="item-title">4. How to prepare for the first date?</h3>
                <div>
                    <div class="item-txt-list">
                        <h4 class="list-title">1) Complete your profile and personal details, including your Voice Signature</h4>
                        <p class="list-word">A profile that is well written can be a strong indication of how serious you are about finding 
                            a partner. An attractive profile will increase the likelihood of members contacting or replying to you.
                        </p>
                        <h4 class="list-title">2) Initiate contact with your matches</h4>
                        <p class="list-word">By striking up a conversation with your matches, even if it's just an emoji, you will increase the likelihood of getting a reply.</p>
                        <h4 class="list-title">3) Publish photos regularly in Moments</h4>
                        <p class="list-word">This will increase the chances that more people see your moments and contact you actively. Make sure your photos perfectly show your personality.</p>
                        <h4 class="list-title">4) Be more active in the dating app</h4>
                        <p class="list-word">Log in to your account on a daily basis. It will show you more members for potential matches. Then you are able to send more messages to your matches.</p>
                    </div>
                </div>
            </div>
            <div class="faq-content-item">
                <h3 class="item-title">5. Why am I not getting many responses?</h3>
                <div>
                    <p class="item-txt">Don't be discouraged if you do not get a response. Some members just don't log in every day.
                        It also takes into account the profile you filled in and the preferences you selected. To get more responses, 
                        try the 4 methods mentioned above to get more matches.
                    </p>
                </div>
            </div>
            <div class="faq-content-item">
                <h3 class="item-title">6. How to prepare for the first date?</h3>
                <div>
                    <p class="item-txt">When you are getting ready for your first date, your date can go great with a full preparation. Check out your detailed set of first date tips below:</p>
                    <div class="item-txt-list">
                        <h4 class="list-title">1) Choose the Right First Date Spot</h4>
                        <p class="list-word">The spot you choose sets the tone for your date. Ask your date to discuss food preferences. 
                            It’s best to pick a neutral, low-pressure place where you can focus on getting to know each other and figuring 
                            out how well you connect.
                        </p>
                        <h4 class="list-title">2) Prepare for an Engaging Conversation</h4>
                        <p class="list-word">Awkward silence is the killer of promising first dates. A flexible communication style, engaging 
                            questions, open-mindedness and easy back and forth is most recommended.
                        </p>
                        <h4 class="list-title">3) Be Aware of Your Body Language</h4>
                        <p class="list-word">Just be natural and don’t do negative gestures - like fold your arms - which may make the date feel uncomfortable.</p>
                    </div>
                </div>
            </div>
            <div class="faq-content-item">
                <h3 class="item-title">7. What are the dating tips when dating online?</h3>
                <div>
                    <p class="item-txt">When you begin dating online, several tips for you to have a start:</p>
                    <div class="item-txt-list none-title">
                        <p class="list-word">1) Never lie on your profile. Instead, create a real profile to demonstrate your sincerity.</p>
                        <p class="list-word">2) Put up a charming profile picture.</p>
                        <p class="list-word">3) Prepare a unique self-intro for your very first message.</p>
                        <p class="list-word">4) Be confident and have a sense of humor to ensure a pleasant conversation.</p>
                    </div>
                </div>
            </div>
            <div class="faq-content-item">
                <h3 class="item-title">8. How to proceed online dating safely?</h3>
                <div>
                    <p class="item-txt">Meeting new people is exciting, but you should always be cautious when 
                        interacting with someone you don’t know. It’s important that you use your best judgment 
                        and put your safety first when interacting and meeting offline.
                    </p>
                    <div class="item-txt-list">
                        <h4 class="list-title">1) Protect Your Personal Information</h4>
                        <p class="list-word">Never share personal information, such as your social security number, physical home or work address, 
                            or details about your daily routine with people you don’t know.
                        </p>
                        <h4 class="list-title">2) Protect Your Account</h4>
                        <p class="list-word">You should not share or disclose your password with any third party. Be sure to choose 
                            a strong password, and always be careful when logging into your account from a public or shared computer. 
                            If you lose your password or give it out, please try to reset it immediately.
                        </p>
                        <h4 class="list-title">3) Never Send Money or Share Financial Information</h4>
                        <p class="list-word">We strongly advise you never give out bank account details or any other your financial information over the 
                            Internet. If you are approached by any member then report them immediately.
                        </p>
                        <h4 class="list-title">4) Don’t Use a Controversial or Provocative Username</h4>
                        <p class="list-word">This could attract the wrong kind of attention. We recommend using your first name only.</p>
                        <h4 class="list-title">5) Communicate through SoulmateString</h4>
                        <p class="list-word">Keep your conversations on the SoulmateString platform while you get to know your match.</p>
                        <h4 class="list-title">6) Report All Suspicious and Offensive Behavior</h4>
                        <p class="list-word">If you come across any inappropriate behavior, stop contacting with them immediately. 
                            Don’t put up with abuse or harassment - block the user or report them to our support team.
                        </p>
                    </div>
                    <p class="item-txt">If you have any concerns about safety on the site, please contact our <a href="javascript:void(0);" class="at-sup-link g-link">Support Team.</a></p>
                </div>
            </div>
            <div class="faq-content-item">
                <h3 class="item-title">9. About payment issues</h3>
                <div>
                    <p class="item-txt">For any issues related to payment, please click here to get help from our 24/7 customer service.</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer-cnt">
                <div class="_left pc">
                    <img src="../../web/images/footer-logo.svg" alt="">
                </div>
                <div class="_right">
                    <ul class="_right_list">
                        <li>
                            <p>Dating APP</p>
                            <a href="/views/site/bbw.html">BBW</a>
                            <a href="/views/blog/index.html">Blog</a>
                        </li>
                        <li>
                            <p>Feature Pages</p>
                            <a href="/views/site/bbws.html">BBWs</a>
                            <a href="/views/site/bp.html">Body Positive</a>
                        </li>
                        <li>
                            <p>Resources</p>
                            <a href="/views/site/faqs.html">FAQ</a>
                            <a href="/views/site/about.html">About</a>
                            <a href="/views/site/feedback.html">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                <div class="tp">
                    <a href="../site/terms.html">Terms of Use</a> | 
                    <a href="../privacy/policy.html">Privacy</a>
                </div>
                <p class="copy">© 2021 SoulmateString All Rights Reserved </p>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="../../web/js/jquery-3.6.0.min.js"></script>
<script src="../../web/js/common.min.js"></script>
<script>
    $(function() {
        $('.item-title').on('click', function() {
            $(this).parent().hasClass('open-item') ? $(this).parent().removeClass('open-item') : $(this).parent().addClass('open-item')
        })
    })
</script>