<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We are always here to support you. Feel free to contact us if you have any questions or comments.">
    <link rel="stylesheet" href="../../web/css/global.css">
    <link rel="stylesheet" href="../../web/css/pages/feedback.css">
    <title>Online Feedback | SoulmateString</title>
</head>
<body>
    <!-- feedback -->
    <header class="header-pc">
        <div class="nav-logo">
            <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
        </div>
        <div class="nav-btns">
            <ul>
                <li><a href="../site/bbw.html">BBW Dating</a></li>
                <li><a href="../site/bbws.html">BBWs</a></li>
                <li><a href="../site/bp.html">Body Positive</a></li>       
                <li><a href="../blog/index.html">Blog</a></li>
                <li><a href="" class="button download-button nav-button hover-logo">
                        <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>&nbsp;
                        <span>T</span>
                        <span>H</span>
                        <span>E</span>&nbsp;
                        <span>A</span>
                        <span>P</span>
                        <span>P</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <header class="header-mob">
        <div class="nav-logo">
            <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
        </div>
        <div class="nav-btn">
            <img src="../../web/images/nav-btn-mob.png" alt="">
        </div>
    </header>
    <section class="fp-banner custom-sc">
        <div class="container">
            <h1 class="fp-banner-title fadeInUp delay1">Have Any Questions or Comments?</h1>
            <p class="fp-banner-txt fadeInUp delay5">We Are Always Here to Support You</p>
        </div>
    </section>

    <!-- content -->
    <section class="fd-submit">
        <div class="container">
            <div class="fd-submit-content">
                <h2>
                    Please read our comprehensive <a href="./faqs.html" class="g-link">FAQs</a> first to get immediate answers. If you still need 
                    assistance, just send us a quick email and our customer representatives will get back to you.
                </h2>
                <div class="fd-submit-form">
                    <div class="fd-submit-form-row double">
                        <div class="fd-submit-form-row-item">
                            <label for=""><input type="email" class="useremail" placeholder="Your Email"></label>
                            <span class="warning email-warning"><img src="../../web/images/icon/icon-warning.svg" alt=""> Please provide a valid email address to get reply from us.</span>
                        </div>
                        <div class="fd-submit-form-row-item">
                            <label for=""><input type="text" class="username" placeholder="Your Name"></label>
                            <span class="warning name-warning"><img src="../../web/images/icon/icon-warning.svg" alt=""> Please provide a valid name address to get reply from us.</span>
                        </div>
                    </div>
                    <div class="fd-submit-form-row double fd-select-row">
                        <div class="fd-submit-form-row-item">
                            <p class="select select1">Please select a subject</p>
                            <ul class="select-list select-list2">
                                <li>Please select a subject</li>
                                <li>Please select a subject</li>
                                <li>Please select a subject</li>
                            </ul>
                        </div>
                        <div class="fd-submit-form-row-item">
                            <p class="select select2">Please select a subject</p>
                            <ul class="select-list select-list2">
                                <li>Please select a subject</li>
                                <li>Please select a subject</li>
                                <li>Please select a subject</li>
                            </ul>
                        </div>
                    </div>
                    <div class="fd-submit-form-row">
                        <div class="fd-submit-form-row-item item-textarea">
                            <label for="">
                                <textarea name="" id="" placeholder="Please be as descriptive as possible of the issue you were experiencing so we can better assist you."></textarea>
                            </label>
                        </div>
                    </div>
                    <p>Do you have a photo or screenshot that would help us understand the issue better?</p>
                    <div class="fd-submit-form-row upload-row">
                        <div class="fd-submit-form-row-item">
                            <div class="upload-row-item-1">
                                <input class="pic1" id="file1" type="file" accept="image/png,image/gif,image/jpeg">
                                <img src="../../web/images/icon/icon-loadfile.svg" alt="">
                                <p>ADD&nbsp;PHOTO</p>
                            </div>
                            <div class="upload-row-item-2">
                                <input class="pic2" id="file2" type="file" accept="image/png,image/gif,image/jpeg">
                                <img src="../../web/images/icon/icon-loadfile.svg" alt="">
                                <p>ADD&nbsp;PHOTO</p>
                            </div>
                            <div class="upload-row-item-3">
                                <input class="pic3" id="file3" type="file" accept="image/png,image/gif,image/jpeg">
                                <img src="../../web/images/icon/icon-loadfile.svg" alt="">
                                <p>ADD&nbsp;PHOTO</p>
                            </div>
                        </div>
                    </div>
                    <div class="fd-submit-form-row vcodeblock">
                        <div class="fd-submit-form-row-item">
                            <label for="">
                                <input type="text" class="code" placeholder="Vertification Code">
                            </label>
                            <div class="vcode">
                                <img src="../../web/images/vcode.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="btnzone">
                        <button class="send hover-5">
                            <span>S</span>
                            <span>E</span>
                            <span>N</span>
                            <span>D</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fd-mask"></section>
    <footer class="footer">
        <div class="container">
            <div class="footer-cnt">
                <div class="_left pc">
                    <img src="../../web/images/footer-logo.svg" alt="">
                </div>
                <div class="_right">
                    <ul class="_right_list">
                        <li>
                            <p>Dating APP</p>
                            <a href="/views/site/bbw.html">BBW</a>
                            <a href="/views/blog/index.html">Blog</a>
                        </li>
                        <li>
                            <p>Feature Pages</p>
                            <a href="/views/site/bbws.html">BBWs</a>
                            <a href="/views/site/bp.html">Body Positive</a>
                        </li>
                        <li>
                            <p>Resources</p>
                            <a href="/views/site/faqs.html">FAQ</a>
                            <a href="/views/site/about.html">About</a>
                            <a href="/views/site/feedback.html">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                <div class="tp">
                    <a href="../site/terms.html">Terms of Use</a> | 
                    <a href="../privacy/policy.html">Privacy</a>
                </div>
                <p class="copy">© 2021 SoulmateString All Rights Reserved </p>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="../../web/js/jquery-3.6.0.min.js"></script>
<script src="../../web/js/animation-scroll.min.js"></script>
<script src="../../web/js/common.min.js"></script>
<script src="../../web/js/feedback.min.js"></script>