<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SoulmateString is the best dating site for soulmate seekers. Meet new friends near you and set up a perfect local dating with your soulmate match.">
    <title>SoulmateString - Find, Chat and Date with Soulmate Love</title>
</head>
<body>
    homapage
</body>
</html>