<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SoulmateString is the best dating site for soulmate seekers. Meet new friends near you and set up a perfect local dating with your soulmate match.">
    <title>SoulmateString - Find, Chat and Date with Soulmate Love</title>
    <link rel="stylesheet" href="../../web/css/home.css">
    <link rel="stylesheet" href="../../web/css/global.css">
</head>

<body>
    <section class="home">
        <header class="header-pc">
            <div class="nav-logo">
                <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
            </div>
            <div class="nav-btns">
                <ul>
                    <li><a href="../site/bbw.html">BBW Dating</a></li>
                    <li><a href="../site/bbws.html">BBWs</a></li>
                    <li><a href="../site/bp.html">Body Positive</a></li>
                    <li><a href="../blog/index.html">Blog</a></li>
                    <li>
                        <a href="" class="button download-button nav-button hover-logo">
                            <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                            <span>G</span>
                            <span>E</span>
                            <span>T</span>&nbsp;
                            <span>T</span>
                            <span>H</span>
                            <span>E</span>&nbsp;
                            <span>A</span>
                            <span>P</span>
                            <span>P</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <header class="header-mob">
            <div class="nav-logo">
                <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
            </div>
            <div class="nav-btn">
                <img src="../../web/images/nav-btn-mob.png" alt="">
            </div>
        </header>
        <main class="main">
            <div class="slider">
                <div class="logo">
                    <a href="#"></a>
                </div>
                <ul>
                    <li class="banner_one">
                        <div class="container">
                            <h1>Meet <span>Soulmate</span> <br>At the Right Time</h1>
                            <p class="banner_p">How to find your soulmate?</p>
                            <p class="banner_word">Soulate opens the door for you to step out. <br> Start meeting soulmate love near or far.</p>
                            <button type="button">
                                <a href="#">Match Now!</a>
                            </button>
                        </div>
                    </li>
                    <li class="banner_two">
                        <div class="container">
                            <h2>Date with <span>Soulmate</span> <br> for Deeper <br> Relationship</h2>
                            <p class="banner_p">Make romantic dates with new people you meet.</p>
                            <p class="banner_word">Soulmate is the matchmaker that covers tricks to build relationships deeply. <br> Enjoy the happiness to find a soulmate, a true love and the special other half.</p>
                        </div>
                    </li>
                    <li class="banner_three">
                        <div class="container">
                            <h2>Chat with <span>Soulmate</span> <br class="banner_br"> to Build Deep <br class="banner_br">Connection</h2>
                            <p class="banner_p">Be brave and say “Hi” to your crush.</p>
                            <p class="banner_word">Are soulmates real? Surely! <br> Search for the perfect soulmate who adores you.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer>

        </footer>
        <section class="confirm_pop">
            <div class="container">
                <div class="warp">
                    <p>We use cookies to improve browsing experience on our site. By browsing our website, you consent to our use of cookies. <br class="brbr"> For more information, please check our <a href="#">Cookies Policy.</a> </p>
                    <button type="button" class="confirm_btn">I Agree</button>
                </div>

            </div>
        </section>
    </section>

</body>
<script src="../../web/js/jquery-3.6.0.min.js"></script>
<script src="../../web/js/common.min.js"></script>
<script src="../../web/js/home.min.js"></script>


</html>