<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This agreement sets forth the legally binding terms and conditions which are applicable to your use of any of services on the site.">
    <link rel="stylesheet" href="../../web/css/global.css">
    <link rel="stylesheet" href="../../web/css/pages/policy.css">
    <title>Terms of Use | SoulmateString</title>
</head>
<body>
    <!-- terms -->
    <header class="header-pc">
        <div class="nav-logo">
            <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
        </div>
        <div class="nav-btns">
            <ul>
                <li><a href="../site/bbw.html">BBW Dating</a></li>
                <li><a href="../site/bbws.html">BBWs</a></li>
                <li><a href="../site/bp.html">Body Positive</a></li>       
                <li><a href="../blog/index.html">Blog</a></li>
                <li><a href="" class="button download-button nav-button hover-logo">
                        <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>&nbsp;
                        <span>T</span>
                        <span>H</span>
                        <span>E</span>&nbsp;
                        <span>A</span>
                        <span>P</span>
                        <span>P</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <header class="header-mob">
        <div class="nav-logo">
            <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
        </div>
        <div class="nav-btn">
            <img src="../../web/images/nav-btn-mob.png" alt="">
        </div>
    </header>

    <section class="fp-banner custom-sc">
        <div class="container">
            <h1 class="fp-banner-title fadeInUp delay1">Terms of Use</h1>
        </div>
    </section>
    <!-- content  -->
    <section class="py-content">
        <div class="container">
            <p class="py-txt">
                The Terms of Use (collectively the “Terms” or “Agreement”) set forth the legally binding 
                terms and conditions which are applicable to your use of any of the SoulmateString services 
                (the “Services”). We may also refer SoulmateString as “Website”, “We”, “Us”, or “Our” in this Agreement.
            </p>
            <h2 class="py-title">Accepting the Terms of Services</h2>
            <p class="py-txt">
                By creating an account or by using any SoulmateString service whether through a mobile device, mobile 
                application, or computer, you agree to be bound by the Terms of Use. If you do not accept or agree to 
                be bound by any of the terms in this Agreement, please do not use the Services.
                SoulmateString may modify this Agreement from time to time and such modification shall be effective upon 
                posting on the Website. You agree to be bound to any changes to this Agreement when you use Services after 
                any such modification is posted. It is therefore important that you review this Agreement regularly 
                to ensure you are updated as to any changes. If you do not agree with the Terms of Use or any subsequent 
                amendments, you can choose to stop using the Services; if you choose to continue using the Services, it is 
                assumed that you fully accepted the Terms of Use and its amendments.
            </p>
            <h2 class="py-title">Basic Rules</h2>
            <p class="py-txt">
                1. By using our Services, you represent and warrant that (a) all registration information you submit is truthful 
                and accurate; (b) you will maintain the accuracy of such information; (c) you are 18 years of age or older and 
                reached the age of adulthood under your national laws; (d) your use of the SoulmateString Services does not violate 
                any applicable law or regulation. Your profile may be deleted and your Membership may be terminated without warning 
                if we believe that you are under 18 years of age or fails to reach the age of adulthood under your national laws.
            </p>
            <p class="py-txt">
                2. You have not have been convicted of or pled no contest to a felony or indictable offense (or crime of similar 
                severity), a sex crime, or any crime involving violence;
            </p>
            <p class="py-txt">
                You are not required to register as a sex offender with any state, federal or local sex offender registry;YOU ARE SOLELY 
                RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER MEMBERS. YOU UNDERSTAND THAT SoulmateString DOES NOT CONDUCT CRIMINAL 
                BACKGROUND CHECKS ON ITS MEMBERS OR OTHERWISE INQUIRE INTO THE BACKGROUND OF ITS MEMBERS. SoulmateString MAKES NO 
                REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF MEMBERS. NOT UNDERSTAND OR DO NOT AGREE TO THESE TERMS, DO NOT 
                USE THE SERVICE. IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SERVICE. USE OF 
                THE SERVICE IS VOID WHERE PROHIBITED.
            </p>
            <p class="py-txt">
                3. You use the SoulmateString services only for personal purposes (you cannot use them for commercial purposes). 
                You cannot use the SoulmateString services for any illegal or unauthorized purpose. You agree to comply with all 
                laws, rules, and regulations (for example, federal, state, local and provincial), including but not limited to, 
                copyright laws applicable to your use of the Services and your Content (defined below). You are solely responsible 
                for your conduct and any data, text, files, information, usernames, images, graphics, photos, profiles, audio, and 
                video clips, sounds, musical works, works of authorship, applications, links and other content or materials 
                (collectively, “Content”) that you submit, post, or display on or via the Services.
            </p>
            <p class="py-txt">
                4. You must not interfere or disrupt the Services, and servers or networks connected to the Services, including by 
                transmitting any worms, viruses, spyware, malware or any other code of a destructive or disruptive nature, or 
                accessing SoulmateString Services by any means other than in compliance with rules we set here.
            </p>
            <p class="py-txt">
                5. You must not spam or submit any unwanted email or comments to any users of the Website services, or use web URLs 
                in your username without prior written consent from the Website.
            </p>
            <p class="py-txt">
                6. You are not allowed to resell or charge others for use of or access to the SoulmateString services, or duplicate, 
                reproduce, transfer, give access to, copy or distribute any part of the SoulmateString services without our prior written authorization.
            </p>
            <h2 class="py-title">Proprietary Rights in Content on SoulmateString</h2>
            <p class="py-txt">
                1. By displaying or publishing (“posting”) any Content on or through the SoulmateString Services, you hereby grant SoulmateString 
                a limited license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content solely on and through the Services.
            </p>
            <p class="py-txt">
                2. You represent and warrant that: (i) you own the Content posted by you on or through the Services or otherwise have the 
                right to grant the license set forth in this section (ii) the posting of your Content on or through the Services does not 
                violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person. You agree to 
                pay for all royalties, fees, and any other monies owing any person by reason of any Content posted by you on or through the Services.
            </p>
            <p class="py-txt">
                3. SoulmateString Content is protected by copyright, trademark, patent, trade secret and other laws, and SoulmateString 
                owns and retains all rights in the SoulmateString Content and the Services. SoulmateString hereby grants you a limited, 
                revocable, non-sub licensable license to reproduce and display the SoulmateString Content (excluding any software code) 
                solely for your personal use in connection with viewing the Website and using the SoulmateString Services.
            </p>
            <h2 class="py-title">Content Responsibility and Removal</h2>
            <p class="py-txt">
                1. SoulmateString may delete any Content that violates this Agreement or which may be offensive, illegal or violate 
                the rights, harm, or threaten the safety of any person in the sole judgment of SoulmateString. SoulmateString assumes 
                no responsibility for monitoring the SoulmateString Services for inappropriate Content or conduct. If at any time SoulmateString 
                chooses, in its sole discretion, to monitor the Services, SoulmateString nonetheless assumes no responsibility for the Content, 
                no obligation to modify or remove any inappropriate Content, and no responsibility for the conduct of the User who submitted any such Content.
            </p>
            <p class="py-txt">
                2. You are solely responsible for the Content that you post on or through any of the SoulmateString Services, and any material 
                or information that you transmit to other Members and for your interactions with other Users. SoulmateString does not endorse 
                and has no control over the Content. Content is not necessarily reviewed by the Website prior to posting and does not necessarily 
                reflect the opinions or policies of SoulmateString. SoulmateString makes no warranties, express or implied, as to the Content or 
                to the accuracy and reliability of the Content or any material or information that you transmit to other Members.
            </p>
            <h2 class="py-title">Content/Activity Prohibited</h2>
            <p class="py-txt">
                The following is a partial list of the kind of Content that is illegal or prohibited to post on or through the SoulmateString 
                Services. SoulmateString reserves the right to investigate and take appropriate legal action against anyone who, in SoulmateString’s 
                sole discretion, violates this provision, including without limitation, removing the offending communication from the SoulmateString 
                Services, and terminating the Membership of such violators. Prohibited Content includes, but is not limited to Content that, in 
                the sole discretion of SoulmateString:
            </p>
            <p class="py-txt">
                1. is patently offensive and promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;
            </p>
            <p class="py-txt">
                2. harasses or advocates harassment of another person;
            </p>
            <p class="py-txt">
                3. exploits people in a sexual or violent manner;
            </p>
            <p class="py-txt">4. contains nudity, violence, or offensive subject matter or contains a link to an adult website;</p>
            <p class="py-txt">5. solicits personal information from anyone under 18;</p>
            <p class="py-txt">6. provides any telephone numbers, street addresses, last names, URLs or email addresses;</p>
            <p class="py-txt">
                7. promotes information that you know is false or misleading or promotes illegal activities or conduct that is 
                abusive, threatening, obscene, defamatory or libelous;
            </p>
            <p class="py-txt">
                8. promotes an illegal or unauthorized copy of another person’s copyrighted work, such as providing pirated computer programs or 
                links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated music or links 
                to pirated music files;
            </p>
            <p class="py-txt">9. involves the transmission of “junk mail,” “chain letters,” or unsolicited mass mailing, instant messaging, and “spamming”;</p>
            <p class="py-txt">
                10. furthers or promotes any criminal activity or enterprise or provides instructional information about illegal activities including, but not limited to, making `or buying illegal weapons, violating someone’s privacy, or providing or creating computer viruses;
            </p>
            <p class="py-txt">11. solicits passwords or personal identifying information for commercial or unlawful purposes from other Users;</p>
            <p class="py-txt">12. involves commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, or pyramid schemes;</p>
            <p class="py-txt">13. includes a photograph of another person that you have posted without that person’s consent;</p>
            <p class="py-txt">
                The following is a partial list of the kind of activity that is illegal or prohibited on the Website and through your 
                use of the Services. SoulmateString reserves the right to investigate and take appropriate legal action against anyone 
                who, in SoulmateString’s sole discretion, violates this provision, including without limitation, reporting you to law 
                enforcement authorities. Prohibited activity includes, but is not limited to:
            </p>
            <p class="py-txt">
                1. criminal or tortuous activity, including child pornography, fraud, trafficking in obscene material, drug dealing, 
                gambling, harassment, stalking, spamming, sending of viruses or other harmful files, copyright infringement, patent 
                infringement, or theft of trade secrets;
            </p>
            <p class="py-txt">
                2. advertising to, or solicitation of, any member to buy or sell any products or services through the 
                SoulmateString Services. You may not transmit any chain letters or junk emails to other members.
            </p>
            <p class="py-txt">
                3. covering or obscuring the banner advertisements on your personal profile page, or any SoulmateString page via HTML/CSS or any other means;
            </p>
            <p class="py-txt">
                4. any automated use of the system, such as using scripts to add friends or send comments or messages;
            </p>
            <p class="py-txt">
                5. interfering with, disrupting, or creating an undue burden on the Webiste Services or the networks or services connected to the Services;
            </p>
            <p class="py-txt">
                6. attempting to impersonate another member or person;
            </p>
            <p class="py-txt">
                7. for band profiles, copying the code for your website and embedding it into other profiles or asking other members to embed it into their profiles;
            </p>
            <p class="py-txt">
                8. using the account, username, or password of another member at any time or disclosing your password to 
                any third-party or permitting any third-party to access your account;
            </p>
            <p class="py-txt">
                9.  selling or otherwise transferring your profile;
            </p>
            <p class="py-txt">
                10. using any information obtained from the SoulmateString Services in order to harass, abuse, or harm another person;
            </p>
            <p class="py-txt">
                11. displaying an advertisement on your profile, or accepting payment or anything of value from 
                a third person in exchange for your performing any commercial activity on or through the 
                Services on behalf of that person.
            </p>
            <p class="py-txt">
                12. using the SoulmateString Services in a manner inconsistent with any and all applicable laws and regulations.
            </p>
            <h2 class="py-title">Copyright Policy</h2>
            <p class="py-txt">
                You may not post, modify, distribute, or reproduce in any way any copyrighted material, trademarks, 
                or other proprietary information belonging to others without obtaining the prior written consent of 
                the owner of such proprietary rights. It is the policy of SoulmateString to terminate membership privileges 
                of any member who repeatedly infringes the copyright rights of others upon receipt of proper notification 
                to SoulmateString by the copyright owner or the copyright owner’s legal agent. Without limiting the 
                foregoing, if you believe that your work has been copied and posted on the SoulmateString Services in 
                a way that constitutes copy right infringement, please provide us with the following information by 
                sending them to XXX邮箱地址: (i)an electronic or physical signature of the person authorized to act on 
                behalf of the owner of the copyright interest; (ii) a description of the copyrighted work that you claim 
                has been infringed; (iii) a description of where the material that you claim is infringing is located on 
                the SoulmateString Services; (iv) your address, telephone number, and email address; (v) a written statement 
                by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its 
                agent, or the law; (vi) a statement by you, made under penalty of perjury, that the above information in your 
                notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
            </p>
            <h2 class="py-title">Payment Terms</h2>
            <p class="py-txt">
                Generally, SoulmateString may offer products and services for purchase on the App (“In-App Purchase”). If 
                you choose to make an In-App Purchase, you acknowledge and agree that additional terms, disclosed to you at 
                the point of purchase, may apply, and that such additional terms are incorporated herein by reference.
                You may make an In-App Purchase through the following payment methods (“Payment Method”): (a) making a purchase 
                through a third-party platform such as the Apple App Store and Google Play Store (“third-party Store”), or (b) 
                paying with your credit card, debit card, or PayPal account, which will be processed by a third-party processor. 
                Once you have made an In-App Purchase, you authorize us to charge your chosen Payment Method. If payment is not 
                received by us from your chosen Payment Method, you agree to promptly pay all amounts due upon demand by us.
            </p>
            <p class="py-txt">
                <span class="py-txt-title">Subscriptions and Auto-Renewal. </span>
                SoulmateString may offer some services as automatically-renewing subscriptions (“Premium Services”). IF YOU 
                PURCHASE AN AUTOMATICALLY RENEWING SUBSCRIPTION, YOUR SUBSCRIPTION WILL RENEW AT THE END OF THE PERIOD, UNLESS 
                YOU CANCEL, AT SoulmateString’S THEN-CURRENT PRICE FOR SUCH SUBSCRIPTIONS. To avoid charges for a new subscription 
                period, you must cancel, as described below, before the end of the then-current subscription period. Deleting your 
                account or deleting the application from your device does not cancel your subscription. You will be given notice of 
                changes in the pricing of the Premium Services to which you have subscribed and an opportunity to cancel. If 
                SoulmateString changes these prices and you do not cancel your subscription, you agree that you will be charged at 
                SoulmateString’s current pricing for subscription.
            </p>
            <p class="py-txt">
                <span class="py-txt-title">Canceling Subscriptions. </span>
                If you purchased a subscription directly from SoulmateString, you may cancel or change your Payment Method via the 
                payment settings option under your profile. If you purchased a subscription through a third-party Store, such as 
                the Apple App Store or the Google Play Store, you will need to access your account with that third-party Store and 
                follow instructions to change or cancel your subscription. If you cancel your subscription, you may use your subscription 
                until the end of the period you last paid for, but (i) you will not (except as set forth in the subsection entitled “Refunds” 
                below) be eligible for a prorated refund, (ii) your subscription will not be renewed when that period expires and (iii) you 
                will then no longer be able to use the Premium Services or In-App Purchases enabled by your subscription.
            </p>
            <p class="py-txt">
                <span class="py-txt-title">Refunds. </span>
                Generally, all charges for purchases are non-refundable, and there are no refunds or credits for partially used periods.
                You may cancel your subscription, without penalty or obligation, at any time before your subscription expires. In the 
                event that you die before the end of your subscription period, your estate shall be entitled to a refund of that portion 
                of any payment you had made for your subscription which is allocable to the period after your death. In the event that you 
                become disabled (such that you are unable to use SoulmateString before the end of your subscription period, you shall be 
                entitled to a refund of that portion of the payment you had made for your subscription.
            </p>
            <p class="py-txt">To request a refund:</p>
            <p class="py-txt">
                For iOS Users:
                To request a refund, please go to iTunes, click on your Apple ID, select “Purchase history,” find the transaction and 
                hit “Report Problem”. You can also submit a request at https://getsupport.apple.com.
            </p>
            <p class="py-txt">
                or Android Users:
                Please contact Google Play Store customer support to get refund by providing your order number you can find the order 
                number in the order confirmation email.
            </p>
            <h2 class="py-title">Disclaimers</h2>
            <p class="py-txt">
                SoulmateString IS NOT RESPONSIBLE FOR ANY INCORRECT OR INACCURATE CONTENT POSTED ON THE WEBSITE OR IN CONNECTION WITH 
                THE SERVICES, WHETHER CAUSED BY USERS OF THE Website SERVICES OR BY ANY OF THE EQUIPMENT OR PROGRAMMING ASSOCIATED WITH 
                OR UTILIZED IN THE SoulmateString SERVICES. PROFILES CREATED AND POSTED BY MEMBERS ON THE WEBSITE MAY CONTAIN LINKS TO 
                OTHER WEBSITES. SoulmateString IS NOT RESPONSIBLE FOR THE CONTENT, ACCURACY OR OPINIONS EXPRESSED ON SUCH WEBSITES, AND 
                SUCH WEBSITES ARE IN NO WAY INVESTIGATED, MONITORED OR CHECKED FOR ACCURACY OR COMPLETENESS BY SoulmateString. INCLUSION 
                OF ANY LINKED WEBSITE ON THE SoulmateString SERVICES DOES NOT IMPLY APPROVAL OR ENDORSEMENT OF THE LINKED WEBSITE BY 
                SoulmateString. WHEN YOU ACCESS THESE THIRD-PARTY SITES, YOU DO SO AT YOUR OWN RISK. SoulmateString TAKES NO RESPONSIBILITY 
                FOR THIRD-PARTY ADVERTISEMENTS WHICH ARE POSTED ON THIS WEBSITE OR THROUGH THE SERVICES, NOR DOES IT TAKE ANY RESPONSIBILITY 
                FOR THE GOODS OR SERVICES PROVIDED BY ITS ADVERTISERS. SoulmateString IS NOT RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR 
                OFFLINE, OF ANY USER OF THE SERVICES. SoulmateString ASSUMES NO RESPONSIBILITY FOR ANY ERROR, OMISSION, INTERRUPTION, DELETION, 
                DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMMUNICATIONS LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, OR 
                ALTERATION OF, ANY USER OR MEMBER COMMUNICATION. SoulmateString IS NOT RESPONSIBLE FOR ANY PROBLEMS OR TECHNICAL MALFUNCTION OF 
                ANY TELEPHONE NETWORK OR LINES, COMPUTER ONLINE SYSTEMS, SERVERS OR PROVIDERS, COMPUTER EQUIPMENT, SOFTWARE, FAILURE OF ANY EMAIL 
                OR PLAYERS DUE TO TECHNICAL PROBLEMS OR TRAFFIC CONGESTION ON THE INTERNET OR ON ANY OF THE SoulmateString SERVICES OR COMBINATION 
                THEREOF, INCLUDING ANY INJURY OR DAMAGE TO USERS OR TO ANY PERSON’S COMPUTER RELATED TO OR RESULTING FROM PARTICIPATION OR DOWNLOADING 
                MATERIALS IN CONNECTION WITH THE SoulmateString SERVICES. UNDER NO CIRCUMSTANCES SHALL SoulmateString BE RESPONSIBLE FOR ANY LOSS OR 
                DAMAGE, INCLUDING PERSONAL INJURY OR DEATH, RESULTING FROM USE OF THE SoulmateString SERVICES, ATTENDANCE AT A SoulmateString EVENT, 
                FROM ANY CONTENT POSTED ON OR THROUGH THE SoulmateString SERVICES, OR FROM THE CONDUCT OF ANY USERS OF THE SERVICES, WHETHER ONLINE OR OFFLINE.
            </p>
            <h2 class="py-title">Contact Us</h2>
            <p class="py-txt">
                If you have questions about this Terms of Use or believe that SoulmateString has not adhered to this Terms of Use, please 
                <a href="javascript:void(0);" class="g-link">contact us </a>and we will make efforts to promptly determine and remedy the problem.
            </p>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-cnt">
                <div class="_left pc">
                    <img src="../../web/images/footer-logo.svg" alt="">
                </div>
                <div class="_right">
                    <ul class="_right_list">
                        <li>
                            <p>Dating APP</p>
                            <a href="/views/site/bbw.html">BBW</a>
                            <a href="/views/blog/index.html">Blog</a>
                        </li>
                        <li>
                            <p>Feature Pages</p>
                            <a href="/views/site/bbws.html">BBWs</a>
                            <a href="/views/site/bp.html">Body Positive</a>
                        </li>
                        <li>
                            <p>Resources</p>
                            <a href="/views/site/faqs.html">FAQ</a>
                            <a href="/views/site/about.html">About</a>
                            <a href="/views/site/feedback.html">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                <div class="tp">
                    <a href="../site/terms.html">Terms of Use</a> | 
                    <a href="../privacy/policy.html">Privacy</a>
                </div>
                <p class="copy">© 2021 SoulmateString All Rights Reserved </p>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="../../web/js/jquery-3.6.0.min.js"></script>
<script src="../../web/js/animation-scroll.min.js"></script>
<script src="../../web/js/common.min.js"></script>