/*
Error: Invalid CSS after "...animation.scss'": expected "{", was ";"
        on line 2 of E:\SH\Project\bbw_dating\web\scss\global.scss

1: <<<<<<< HEAD
2: @import './global/animation.scss';
3: @import './global/reset.scss';
4: @import './global/footer.scss';
5: @import './global/header.scss';
6: @import './global/fonts.scss';
7: =======

Backtrace:
E:\SH\Project\bbw_dating\web\scss\global.scss:2
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/koala/bin/sass:22:in `load'
D:/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...animation.scss'\": expected \"{\", was \";\"\A         on line 2 of E:\SH\Project\bbw_dating\web\scss\global.scss\A \A 1: <<<<<<< HEAD\A 2: @import './global/animation.scss';\A 3: @import './global/reset.scss';\A 4: @import './global/footer.scss';\A 5: @import './global/header.scss';\A 6: @import './global/fonts.scss';\A 7: ======="; }
