.dp-banner {
  margin-top: 66px;
  background: url("../../images/blog/dp-banner-bg.png") no-repeat center center; }
  .dp-banner .container {
    padding: 75px 0 80px;
    display: flex;
    justify-content: space-between;
    transition: all 1.2s; }
    .dp-banner .container .dp-banner-left {
      width: 54%; }
      .dp-banner .container .dp-banner-left .dp-banner-title {
        font: normal normal bold 28px/34px Inter;
        letter-spacing: -.02em;
        color: #fff;
        transition: all 1.2s; }
      .dp-banner .container .dp-banner-left .dp-banner-cupid {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        margin-top: 16px; }
        .dp-banner .container .dp-banner-left .dp-banner-cupid li {
          position: relative;
          width: 46%;
          margin-top: 16px;
          font: normal normal 600 14px/17px Inter;
          color: rgba(255, 255, 255, 0.6);
          text-indent: 22px; }
          .dp-banner .container .dp-banner-left .dp-banner-cupid li::before {
            position: absolute;
            top: 2px;
            left: 0;
            content: "";
            width: 16px;
            height: 13px;
            background: url("../../images/icon/dp-vector.svg") no-repeat center center; }
    .dp-banner .container .dp-banner-right .dp-banner-button {
      margin: 47px 0 0 233px; }

.dp-content .container {
  display: flex;
  justify-content: space-between; }
  .dp-content .container .dp_left {
    margin-top: 252px;
    text-align: left; }
    .dp-content .container .dp_left .dp_sticky {
      position: sticky;
      top: 80px; }
      .dp-content .container .dp_left .dp_sticky > p {
        font: normal normal bold 16px/19px Inter;
        color: #000; }
      .dp-content .container .dp_left .dp_sticky .dp_left_ap {
        margin-top: 8px;
        display: flex;
        flex-direction: column; }
        .dp-content .container .dp_left .dp_sticky .dp_left_ap > a {
          display: block;
          margin-top: 16px;
          font: normal normal normal 14px/17px Inter;
          color: rgba(0, 0, 0, 0.5); }
          .dp-content .container .dp_left .dp_sticky .dp_left_ap > a:active {
            color: #23A094;
            text-decoration: underline; }
  .dp-content .container .dp_right {
    width: 811px;
    padding: 24px 0 120px; }
    .dp-content .container .dp_right .dp-crumbs a {
      font: normal normal 600 13px/16px Inter;
      color: #23A094; }
    .dp-content .container .dp_right .dp-essay {
      margin-top: 52px; }
      .dp-content .container .dp_right .dp-essay > h1 {
        font: normal normal bold 40px/48px Inter;
        color: #000; }
      .dp-content .container .dp_right .dp-essay > h2 {
        margin-top: 16px;
        font: normal normal bold 32px/38px Inter;
        color: #000; }
      .dp-content .container .dp_right .dp-essay > h3 {
        margin-top: 16px;
        font: normal normal bold 24px/38px Inter;
        color: #000; }
      .dp-content .container .dp_right .dp-essay .dp-essay-inf {
        margin-top: 24px;
        display: flex;
        justify-content: space-between; }
        .dp-content .container .dp_right .dp-essay .dp-essay-inf .author {
          display: flex;
          justify-content: space-between;
          color: rgba(0, 0, 0, 0.6);
          font: normal normal normal 14px/17px Inter; }
        .dp-content .container .dp_right .dp-essay .dp-essay-inf .share {
          display: flex;
          color: #000;
          font: normal normal normal 12px/14px Inter; }
          .dp-content .container .dp_right .dp-essay .dp-essay-inf .share span {
            margin-left: 10px; }
      .dp-content .container .dp_right .dp-essay .dp-img {
        margin-top: 19px; }
      .dp-content .container .dp_right .dp-essay .dp-txt {
        margin: 16px 0;
        color: rgba(0, 0, 0, 0.8);
        font: normal normal normal 16px/22px Inter; }
      .dp-content .container .dp_right .dp-essay .download-card {
        padding: 41px 0 35px 64px;
        border-radius: 12px; }
        .dp-content .container .dp_right .dp-essay .download-card .dc-title {
          font: normal normal bold 24px/29px Inter; }
          .dp-content .container .dp_right .dp-essay .download-card .dc-title.cl-w {
            color: #fff; }
          .dp-content .container .dp_right .dp-essay .download-card .dc-title.cl-b {
            color: #000; }
        .dp-content .container .dp_right .dp-essay .download-card ul li {
          position: relative;
          margin-top: 8px;
          color: rgba(255, 255, 255, 0.6);
          font: normal normal 500 16px/21px Inter;
          text-indent: 24px; }
          .dp-content .container .dp_right .dp-essay .download-card ul li img {
            position: absolute;
            left: 0;
            top: 0;
            margin-right: 9px; }
        .dp-content .container .dp_right .dp-essay .download-card ul.dc-reading li::before {
          position: absolute;
          top: 3px;
          left: 0;
          content: "";
          width: 16px;
          height: 13px;
          background: url("../../images/icon/dp-vector.svg") no-repeat center center; }
        .dp-content .container .dp_right .dp-essay .download-card ul.dc-find li {
          color: rgba(0, 0, 0, 0.6); }
        .dp-content .container .dp_right .dp-essay .download-card ul.dc-make li {
          color: rgba(0, 0, 0, 0.6); }
        .dp-content .container .dp_right .dp-essay .download-card .dc-button {
          padding: 12px 24px;
          margin-top: 24px; }
        .dp-content .container .dp_right .dp-essay .download-card.card-1 {
          background: url("../../images/blog/essay-1.png") no-repeat center center; }
          .dp-content .container .dp_right .dp-essay .download-card.card-1 > a {
            width: 199px;
            box-sizing: border-box; }
        .dp-content .container .dp_right .dp-essay .download-card.card-2 {
          background: url("../../images/blog/essay-5.png") no-repeat center center; }
        .dp-content .container .dp_right .dp-essay .download-card.card-3 {
          background: url("../../images/blog/essay-2.png") no-repeat center center; }
      .dp-content .container .dp_right .dp-essay .download-btn {
        padding: 12px 0;
        text-align: center; }
        .dp-content .container .dp_right .dp-essay .download-btn > p {
          margin-top: 20px;
          color: rgba(0, 0, 0, 0.5);
          font: normal normal normal 14px/14px Inter; }
    .dp-content .container .dp_right .dp-related {
      margin-top: 70px;
      text-align: left; }
      .dp-content .container .dp_right .dp-related > h2 {
        font: normal normal 600 24px/29px Inter; }
      .dp-content .container .dp_right .dp-related-articles {
        margin-top: 24px;
        display: flex;
        justify-content: space-between; }
        .dp-content .container .dp_right .dp-related-articles .dp-re-item {
          width: 32%; }
          .dp-content .container .dp_right .dp-related-articles .dp-re-item-txt {
            padding: 10px 10px 10px 0; }
            .dp-content .container .dp_right .dp-related-articles .dp-re-item-txt span {
              padding: 4px 8px;
              box-sizing: border-box;
              background: #FF90E8;
              border-radius: 17px;
              font: normal normal bold 11px/100% Inter; }
            .dp-content .container .dp_right .dp-related-articles .dp-re-item-txt p {
              margin-top: 7px;
              font: normal normal 600 14px/17px Inter; }

@media (max-width: 768px) {
  .dp-banner {
    background: url("../../images/blog/dp-bannerbg-mob.png") no-repeat center center; }
    .dp-banner .container {
      flex-direction: column;
      padding: 37px 0 55px; }
      .dp-banner .container .dp-banner-left {
        width: 100%; }
        .dp-banner .container .dp-banner-left .dp-banner-title {
          font: normal normal bold 27px/33px Inter;
          color: #fff;
          letter-spacing: -.02em;
          text-align: center; }

  .dp-content .container .dp_right {
    width: 100%;
    padding: 20px 0 49px 0; }
    .dp-content .container .dp_right .dp-essay {
      margin: 0; }
      .dp-content .container .dp_right .dp-essay > h1 {
        font: normal normal bold 28px/34px Inter; }
      .dp-content .container .dp_right .dp-essay > h2 {
        font: normal normal bold 24px/29px Inter;
        margin-top: 24px; }
      .dp-content .container .dp_right .dp-essay .dp-essay-inf {
        flex-direction: column;
        margin-top: 26px; }
        .dp-content .container .dp_right .dp-essay .dp-essay-inf .author {
          justify-content: start; }
          .dp-content .container .dp_right .dp-essay .dp-essay-inf .author .split-line {
            margin: 0 9px; }
        .dp-content .container .dp_right .dp-essay .dp-essay-inf .share {
          margin-top: 26px; }
          .dp-content .container .dp_right .dp-essay .dp-essay-inf .share span {
            margin-left: 0;
            margin-right: 10px; }
      .dp-content .container .dp_right .dp-essay .dp-img {
        margin-top: 25ox; }
        .dp-content .container .dp_right .dp-essay .dp-img img {
          max-width: 100%; }
      .dp-content .container .dp_right .dp-essay .dp-txt {
        margin: 24px 0;
        font: normal normal normal 14px/20px Inter; }
      .dp-content .container .dp_right .dp-essay .download-card {
        padding: 26px 14px 131px 30px; }
        .dp-content .container .dp_right .dp-essay .download-card ul li {
          margin-top: 16px; }
        .dp-content .container .dp_right .dp-essay .download-card ul.dc-reading li::before {
          content: none; }
        .dp-content .container .dp_right .dp-essay .download-card ul.dc-reading li img {
          margin-top: 10px; }
        .dp-content .container .dp_right .dp-essay .download-card .dc-button {
          margin-top: 25px; }
        .dp-content .container .dp_right .dp-essay .download-card.card-1 {
          background: url("../../images/blog/essay-1-mob.png") no-repeat center center; }
        .dp-content .container .dp_right .dp-essay .download-card.card-2 {
          background: url("../../images/blog/essay-5-mob.png") no-repeat center center; }
        .dp-content .container .dp_right .dp-essay .download-card.card-3 {
          background: url("../../images/blog/essay-2-mob.png") no-repeat center center; }
    .dp-content .container .dp_right .dp-related .dp-related-articles {
      margin-top: 0;
      flex-direction: column; }
      .dp-content .container .dp_right .dp-related .dp-related-articles .dp-re-item {
        margin-top: 24px;
        width: 100%; }
        .dp-content .container .dp_right .dp-related .dp-related-articles .dp-re-item img {
          width: 100%; }
        .dp-content .container .dp_right .dp-related .dp-related-articles .dp-re-item .dp-re-item-txt {
          padding: 22px 18px;
          background: rgba(0, 0, 0, 0.06); } }

/*# sourceMappingURL=dating-page.css.map */
