.fp-banner {
  margin-top: 66px;
  height: 216px;
  background: url("../../images/ab-banner.png") no-repeat center -66px;
  text-align: left;
  transition-duration: 1.2s; }
  .fp-banner .container {
    padding-top: 52px;
    width: 794px;
    transition-duration: 1.2s; }
    .fp-banner .container .fp-banner-title {
      font: normal normal bold 48px/58px Inter;
      color: #fff;
      transition-duration: 1.2s; }
    .fp-banner .container .fp-banner-txt {
      margin-top: 8px;
      font: normal normal normal 18px/23px Inter;
      color: rgba(255, 255, 255, 0.6);
      transition-duration: 1.2s; }

@media (max-width: 768px) {
  .fp-banner {
    background: url("../../images/ab-banner-mob.png") no-repeat center center;
    background-size: cover;
    text-align: center; }
    .fp-banner .container {
      width: 100%;
      padding: 24px 13px 43px; }
      .fp-banner .container .fp-banner-title {
        font: normal normal bold 32px/38px Inter; }
      .fp-banner .container .fp-banner-txt {
        margin-top: 16px;
        font: normal normal normal 16px/19px Inter; } }
.fp-banner .container {
  width: 840px; }

.fd-submit .container {
  width: 794px;
  padding: 52px 0 107px; }
  .fd-submit .container .fd-submit-content > h2 {
    font: normal normal normal 16px/24px Inter;
    color: rgba(0, 0, 0, 0.6); }
    .fd-submit .container .fd-submit-content > h2 .g-link {
      text-decoration: underline;
      font: normal normal normal 16px/24px Inter;
      color: #23A094;
      vertical-align: top; }
  .fd-submit .container .fd-submit-content .fd-submit-form {
    padding-top: 10px; }
    .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row {
      margin-top: 17px;
      display: flex;
      justify-content: space-between; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label {
          position: relative;
          width: 100%; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label input {
            width: 100%;
            padding: 19px 12px;
            border: 2px solid #dcdce4;
            border-radius: 6px;
            color: rgba(0, 0, 0, 0.48);
            font: normal normal 500 14px/100% Inter;
            box-sizing: border-box;
            letter-spacing: -.02em; }
            .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label input:focus {
              border: 2px solid #FF90E8;
              color: #000; }
            .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label input::selection {
              background: #000; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .error {
          position: relative;
          left: 0;
          top: -10px;
          color: #FF7676;
          font: normal normal normal 13px/24px Inter;
          transition: all .3s;
          display: none; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .error img {
            position: relative;
            top: -1px; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.item-textarea {
          flex: 1; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.item-textarea label {
            width: 100%; }
            .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.item-textarea label textarea {
              width: 100%;
              height: 126px;
              padding: 18px 13px;
              box-sizing: border-box;
              border: 2px solid #dcdce4;
              color: #2a2a2a;
              font: normal normal 500 14px/100% Inter;
              border-radius: 6px; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .select {
          position: relative;
          width: 100%;
          height: 58px;
          padding: 20px 16px;
          box-sizing: border-box;
          background: #FFF;
          border: 2px solid #DCDCE4;
          border-radius: 6px;
          color: rgba(0, 0, 0, 0.48);
          font: normal normal normal 14px/14px Inter;
          letter-spacing: -.02em;
          transition: all .3s; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .select::after {
            position: absolute;
            top: 26px;
            right: 17px;
            content: "";
            width: 12px;
            height: 8px;
            background: url("../../images/icon/icon-select.svg") no-repeat center center;
            transition: all .5s; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .select.has-selected {
            background: #EFEFF4;
            border: 2px solid #DCDCE4; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .select-list {
          position: absolute;
          display: none;
          z-index: 99;
          margin-top: 4px;
          width: 100%;
          padding: 12px;
          background: #FFFFFF;
          border: 2px solid #DCDCE4;
          box-sizing: border-box;
          border-radius: 6px; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .select-list li {
            font: normal normal normal 14px/14px Inter;
            border-radius: 6px;
            padding: 12px;
            cursor: default; }
            .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .select-list li:hover {
              background: rgba(255, 144, 232, 0.25); }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.open .select {
          border: 2px solid #FF90E8; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.open .select::after {
            transform: rotateZ(180deg); }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.open .select-list {
          animation: drop-select .5s forwards;
          display: block; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.invalid input {
          border: 2px solid #FF7676; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.invalid span {
          display: block;
          animation: errormsg .3s forwards; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.valid input, .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.valid .suggestion {
          background: #EFEFF4; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.double .fd-submit-form-row-item {
        width: 48%; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item {
        flex-direction: row; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item label {
          width: 220px; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item label input {
            width: 100%; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item .vcode {
          position: relative;
          display: flex;
          margin-left: 12px;
          justify-content: center;
          align-items: center; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row .fd-submit-form-row-item {
        flex-direction: row; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row .fd-submit-form-row-item > div {
          position: relative;
          width: 88px;
          height: 88px;
          background: #F6F6F8;
          border-radius: 4px;
          margin-right: 12px;
          text-align: center;
          padding: 19px 9px 20px;
          box-sizing: border-box; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row .fd-submit-form-row-item > div p {
            margin-top: 5px;
            color: rgba(0, 0, 0, 0.48);
            font: normal normal 500 12px/12px Inter; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row .fd-submit-form-row-item > div input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer; }
    .fd-submit .container .fd-submit-content .fd-submit-form > p {
      margin-top: 32px;
      font: normal normal normal 14px/21px Inter;
      color: rgba(0, 0, 0, 0.6); }
    .fd-submit .container .fd-submit-content .fd-submit-form .btnzone {
      margin-top: 16px; }

.fd-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none; }

.fd-flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none; }
  .fd-flag .flag {
    margin: 430px auto 0;
    width: 365px;
    background: #EFEFF4;
    border: 2px solid #DCDCE4;
    box-sizing: border-box;
    padding: 62px 38px 54px;
    border-radius: 8px;
    text-align: center;
    display: none; }
    .fd-flag .flag h3 {
      margin-top: 8px;
      font: normal normal bold 24px/29px Inter; }
    .fd-flag .flag p {
      margin-top: 8px;
      color: rgba(0, 0, 0, 0.6);
      font: normal normal normal 16px/19px Inter; }
    .fd-flag .flag button {
      margin-top: 32px;
      box-sizing: border-box;
      padding: 22px 98px;
      border: none;
      background: #FF90E8;
      border-radius: 6px;
      cursor: pointer; }
      .fd-flag .flag button span {
        font: normal normal bold 16px/16px Inter;
        letter-spacing: -.02em; }
    .fd-flag .flag.flagModel {
      display: block;
      position: relative;
      animation: fadeInDown .6s forwards; }

@media (max-width: 768px) {
  .fp-banner .container {
    width: 100%; }
    .fp-banner .container .fp-banner-title {
      letter-spacing: -.04em; }
    .fp-banner .container .fp-banner-txt {
      font: normal normal normal 16px/19px Inter; }

  .fd-submit .container {
    padding: 32px 10px;
    width: 100%; }
    .fd-submit .container .fd-submit-content .fd-submit-form {
      padding-top: 15px; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row {
        flex-direction: column;
        margin-top: 0; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label {
          margin-top: 28px; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.double .fd-submit-form-row-item {
          width: 100%; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row {
          margin-top: 16px; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item label {
          margin-top: 16px;
          width: 57.5vw; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item img {
          margin-top: 13px; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.fd-select-row .fd-submit-form-row-item {
          margin-top: 28px; }
      .fd-submit .container .fd-submit-content .fd-submit-form .btnzone button {
        width: 100%;
        padding: 22px 0; }
        .fd-submit .container .fd-submit-content .fd-submit-form .btnzone button::before {
          left: 41vw; }

  .fd-flag .flag {
    width: 100%; } }

/*# sourceMappingURL=feedback.css.map */
