.fp-banner {
  margin-top: 66px;
  height: 216px;
  background: url("../../images/ab-banner.png") no-repeat center -66px;
  text-align: left;
  transition-duration: 1.2s; }
  .fp-banner .container {
    padding-top: 52px;
    width: 794px;
    transition-duration: 1.2s; }
    .fp-banner .container .fp-banner-title {
      font: normal normal bold 48px/58px Inter;
      color: #fff;
      transition-duration: 1.2s; }
    .fp-banner .container .fp-banner-txt {
      margin-top: 8px;
      font: normal normal normal 18px/23px Inter;
      color: rgba(255, 255, 255, 0.6);
      transition-duration: 1.2s; }

@media (max-width: 768px) {
  .fp-banner {
    background: url("../../images/ab-banner-mob.png") no-repeat center center;
    background-size: cover;
    text-align: center; }
    .fp-banner .container {
      width: 100%;
      padding: 24px 13px 43px; }
      .fp-banner .container .fp-banner-title {
        font: normal normal bold 32px/38px Inter; }
      .fp-banner .container .fp-banner-txt {
        margin-top: 16px;
        font: normal normal normal 16px/19px Inter; } }
.fp-banner .container {
  width: 840px; }

.fd-submit .container {
  width: 794px;
  padding: 52px 0 107px; }
  .fd-submit .container .fd-submit-content > h2 {
    font: normal normal normal 16px/24px Inter;
    color: rgba(0, 0, 0, 0.6); }
    .fd-submit .container .fd-submit-content > h2 .g-link {
      text-decoration: underline;
      font: normal normal normal 16px/24px Inter;
      color: #23A094; }
  .fd-submit .container .fd-submit-content .fd-submit-form {
    padding-top: 10px; }
    .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row {
      margin-top: 17px;
      display: flex;
      justify-content: space-between; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label {
          position: relative;
          width: 100%; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label input, .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label select {
            width: 100%;
            height: 51px;
            border: 2px solid #dcdce4;
            border-radius: 6px;
            color: rgba(0, 0, 0, 0.48);
            font: normal normal 500 14px/100% Inter;
            padding: 0 12px;
            box-sizing: border-box; }
            .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label input:focus, .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label select:focus {
              border: 2px solid #FF90E8;
              color: #000; }
            .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label input:filled, .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label select:filled {
              background: #EFEFF4; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label select {
            appearance: none;
            background: #fff url("../../images/icon/icon-select.svg") no-repeat right 14px center; }
            .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label select option {
              color: #2a2a2a;
              font: normal normal 500 14px/100% Inter; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item .warning {
          color: #FF7676;
          font: normal normal normal 13px/24px Inter; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.item-textarea {
          flex: 1; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.item-textarea label {
            width: 100%; }
            .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item.item-textarea label textarea {
              width: 100%;
              height: 126px;
              padding: 18px 13px;
              box-sizing: border-box;
              border: 2px solid #dcdce4;
              color: #2a2a2a;
              font: normal normal 500 14px/100% Inter;
              border-radius: 6px; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.double .fd-submit-form-row-item {
        width: 48%; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item {
        flex-direction: row; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item label {
          width: 220px; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item label input {
            width: 100%;
            padding: 0 12px; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item .vcode {
          position: relative;
          display: flex;
          margin-left: 12px;
          justify-content: center;
          align-items: center; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item .vcode img {
            margin-top: 13px; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row .fd-submit-form-row-item {
        flex-direction: row; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row .fd-submit-form-row-item > div {
          position: relative;
          width: 88px;
          height: 88px;
          background: #F6F6F8;
          border-radius: 4px;
          margin-right: 12px;
          text-align: center;
          padding: 19px 9px 20px;
          box-sizing: border-box; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row .fd-submit-form-row-item > div p {
            margin-top: 5px;
            color: rgba(0, 0, 0, 0.48);
            font: normal normal 500 12px/12px Inter; }
          .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row .fd-submit-form-row-item > div input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer; }
    .fd-submit .container .fd-submit-content .fd-submit-form > p {
      margin-top: 32px;
      font: normal normal normal 14px/21px Inter;
      color: rgba(0, 0, 0, 0.6); }
    .fd-submit .container .fd-submit-content .fd-submit-form .btnzone {
      margin-top: 16px; }

@media (max-width: 768px) {
  .fp-banner .container {
    width: 100%; }
    .fp-banner .container .fp-banner-title {
      letter-spacing: -.04em; }
    .fp-banner .container .fp-banner-txt {
      font: normal normal normal 16px/19px Inter; }

  .fd-submit .container {
    padding: 32px 10px;
    width: 100%; }
    .fd-submit .container .fd-submit-content .fd-submit-form {
      padding-top: 15px; }
      .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row {
        flex-direction: column;
        margin-top: 0; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row .fd-submit-form-row-item label {
          margin-top: 28px; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.double .fd-submit-form-row-item {
          width: 100%; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.upload-row {
          margin-top: 16px; }
        .fd-submit .container .fd-submit-content .fd-submit-form .fd-submit-form-row.vcodeblock .fd-submit-form-row-item label {
          margin-top: 16px;
          width: 57.5vw; }
      .fd-submit .container .fd-submit-content .fd-submit-form .btnzone button {
        width: 100%;
        padding: 22px 0; }
        .fd-submit .container .fd-submit-content .fd-submit-form .btnzone button::before {
          left: 41vw; } }

/*# sourceMappingURL=feedback.css.map */
