<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Latest Catch from SoulmateString: dating advice, helpful tips, relationships, sexuality, and other dating related topics.">
    <link rel="stylesheet" href="../../web/css/global.css">
    <link rel="stylesheet" href="../../web/css/pages/blog-dating.css">
    <title>SoulmateString  Blog | Dating Tips, Advice and More</title>
</head>
<body>
    <!-- blog-dating -->
    <header class="header-pc">
        <div class="nav-logo">
            <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
        </div>
        <div class="nav-btns">
            <ul>
                <li><a href="../site/bbw.html">BBW Dating</a></li>
                <li><a href="../site/bbws.html">BBWs</a></li>
                <li><a href="../site/bp.html">Body Positive</a></li>       
                <li><a href="../blog/index.html">Blog</a></li>
                <li><a href="" class="button download-button nav-button hover-logo">
                        <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>&nbsp;
                        <span>T</span>
                        <span>H</span>
                        <span>E</span>&nbsp;
                        <span>A</span>
                        <span>P</span>
                        <span>P</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <header class="header-mob">
        <div class="nav-logo">
            <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
        </div>
        <div class="nav-btn">
            <img src="../../web/images/nav-btn-mob.png" alt="">
        </div>
    </header>

    <!-- banner -->
    <section class="blog-banner custom-sc">
        <div class="container">
            <h1 class="blog-banner-title fadeInUp delay1">BBW Dating Blog</h1>
             <p class="blog-banner-txt fadeInUp delay3">The latest from PlusCupid, including love stories, dating tips, advice and more.</p>
             <a href="javascript:void(0);" class="blog-banner-link fadeInUp delay4">Join PlusCupid Today</a>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <div class="bd_navs">
                <a href="./blog_advice.html" class="active-tag">Advice</a>
                <a href="./blog_advice.html">Relationships</a>
                <a href="./blog_advice.html">Dating</a>
                <a href="./blog_advice.html">Love&nbspStory</a>
                <a href="./blog_advice.html">Health</a>
                <a href="./blog_advice.html">Uncategorized</a>
                <a href="./blog_advice.html">BBW</a>
                <a href="./blog_advice.html">BHM</a>
                <a href="./blog_advice.html">Sex</a>
            </div>
            <!-- 轮播图 -->
            <div class="bd_carousel custom-sc">
                <ul class="bd_carousel-list ">
                    <li>
                        <img src="../../web/images/blog/article-scroll.png" alt="" class="pc">
                        <img src="../../web/images/blog/article-scroll-mob.png" alt="" class="mob">
                        <div class="car-txt">
                            <span class="fadeInUp delay6">Dating</span>
                            <h3 class="fadeInUp delay8">Celebrate Your Unique Self by Using Your True Name</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../../web/images/blog/article-scroll2.png" alt="" class="pc">
                        <img src="../../web/images/blog/article-scroll2-mob.png" alt="" class="mob">
                        <div class="car-txt">
                            <span>Dating</span>
                            <h3>Celebrate Your Unique Self by Using Your True Name</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../../web/images/blog/article-scroll.png" alt="" class="pc">
                        <img src="../../web/images/blog/article-scroll-mob.png" alt="" class="mob">
                        <div class="car-txt">
                            <span>Dating</span>
                            <h3>Celebrate Your Unique Self by Using Your True Name</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../../web/images/blog/article-scroll2.png" alt="" class="pc">
                        <img src="../../web/images/blog/article-scroll2-mob.png" alt="" class="mob">
                        <div class="car-txt">
                            <span>Dating</span>
                            <h3>Celebrate Your Unique Self by Using Your True Name</h3>
                        </div>
                    </li>
                </ul>
                <div class="prev-btn change_arrow pc" id="prev_switch">
                    <a href="javascript:void(0);"><img src="../../web/images/blog/arrow-left.png" alt=""></a>
                </div>
                <div class="next-btn change_arrow pc" id="next_switch">
                    <a href="javascript:void(0);"><img src="../../web/images/blog/arrow-right.png" alt=""></a>
                </div>
                <div class="paginations">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- 文章 -->
            <div class="bd_articles">
                <div class="bd_arti_item scroll-animation">
                    <div class="item-img fadeInUp delay0">
                        <img src="../../web/images/blog/bd_arti-1.png" alt="">
                    </div>
                    <div class="item-txt fadeInUp delay2">
                        <span>DATING</span>
                        <h3 class="item-txt-desc">Celebrate Your Unique Self by Using Your True Name</h3>
                    </div>
                </div>
                <div class="bd_arti_item scroll-animation">
                    <div class="item-img fadeInUp delay1">
                        <img src="../../web/images/blog/bd_arti-2.png" alt="">
                    </div>
                    <div class="item-txt fadeInUp delay3">
                        <span>Relationship</span>
                        <h3 class="item-txt-desc">Celebrate Your Unique Self by Using Your True Name</h3>
                    </div>
                </div>
                <div class="bd_arti_item scroll-animation">
                    <div class="item-img fadeInUp delay2">
                        <img src="../../web/images/blog/bd_arti-3.png" alt="">
                    </div>
                    <div class="item-txt fadeInUp delay4">
                        <span>Love Story</span>
                        <h3 class="item-txt-desc">Celebrate Your Unique Self by Using Your True Name</h3>
                    </div>
                </div>
                <div class="bd_arti_item scroll-animation">
                    <div class="item-img fadeInUp delay0">
                        <img src="../../web/images/blog/bd_arti-4.png" alt="">
                    </div>
                    <div class="item-txt fadeInUp delay2">
                        <span>BBW</span>
                        <h3 class="item-txt-desc">Celebrate Your Unique Self by Using Your True Name</h3>
                    </div>
                </div>
                <div class="bd_arti_item scroll-animation">
                    <div class="item-img fadeInUp delay1">
                        <img src="../../web/images/blog/bd_arti-5.png" alt="">
                    </div>
                    <div class="item-txt fadeInUp delay3">
                        <span>DATING</span>
                        <h3 class="item-txt-desc">Celebrate Your Unique Self by Using Your True Name</h3>
                    </div>
                </div>
                <div class="bd_arti_item scroll-animation">
                    <div class="item-img fadeInUp delay5">
                        <img src="../../web/images/blog/bd_arti-6.png" alt="">
                    </div>
                    <div class="item-txt fadeInUp delay4">
                        <span>Sex</span>
                        <h3 class="item-txt-desc">Celebrate Your Unique Self by Using Your True Name</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-cnt">
                <div class="_left pc">
                    <img src="../../web/images/footer-logo.svg" alt="">
                </div>
                <div class="_right">
                    <ul class="_right_list">
                        <li>
                            <p>Dating APP</p>
                            <a href="/views/site/bbw.html">BBW</a>
                            <a href="/views/blog/index.html">Blog</a>
                        </li>
                        <li>
                            <p>Feature Pages</p>
                            <a href="/views/site/bbws.html">BBWs</a>
                            <a href="/views/site/bp.html">Body Positive</a>
                        </li>
                        <li>
                            <p>Resources</p>
                            <a href="/views/site/faqs.html">FAQ</a>
                            <a href="/views/site/about.html">About</a>
                            <a href="/views/site/feedback.html">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                <div class="tp">
                    <a href="../site/terms.html">Terms of Use</a> | 
                    <a href="../privacy/policy.html">Privacy</a>
                </div>
                <p class="copy">© 2021 SoulmateString All Rights Reserved </p>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="../../web/js/jquery-3.6.0.min.js"></script>
<script src="../../web/js/animation-scroll.min.js"></script>
<script src="../../web/js/blog-dating.min.js"></script>
<script src="../../web/js/common.min.js"></script>