<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Latest Catch from SoulmateString: dating advice, helpful tips, relationships, sexuality, and other dating related topics.">
    <link rel="stylesheet" href="../../web/css/global.css">
    <link rel="stylesheet" href="../../web/css/pages/blog.css">
    <title>SoulmateString  Blog | Dating Tips, Advice and More</title>
</head>
<body>
    <header class="header-pc">
        <div class="nav-logo">
            <a href="../site/index.html" class="logo"><img src="../../web/images/logo.svg" alt=""></a>
        </div>
        <div class="nav-btns">
            <ul>
                <li><a href="../site/bbw.html">BBW Dating</a></li>
                <li><a href="../site/bbws.html">BBWs</a></li>
                <li><a href="../site/bp.html">Body Positive</a></li>       
                <li><a href="../blog/index.html">Blog</a></li>
                <li><a href="" class="button download-button nav-button hover-logo">
                        <!-- <img src="../../web/images/download-google.svg" alt=""> -->
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>&nbsp;
                        <span>T</span>
                        <span>H</span>
                        <span>E</span>&nbsp;
                        <span>A</span>
                        <span>P</span>
                        <span>P</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <header class="header-mob">
        <div class="nav-logo">
            <a href="../site/index.html"><img src="../../web/images/logo-mob.png" alt=""></a>
        </div>
        <div class="nav-btn">
            <img src="../../web/images/nav-btn-mob.png" alt="">
        </div>
    </header>

    <!-- banner -->
    <section class="blog-banner">
        <div class="container">
            <h1 class="blog-banner-title">The SoulmateString Blog</h1>
        </div>
    </section>

    <!-- nav -->
    <section class="nav">
        <div class="container pc">
            <ul class="nav-list">
                <li><a href="./blog_dating.html">BBW Dating Blog</a></li>
                <li><a href="javascript:void(0);">BBW Dating Blog</a></li>
                <li><a href="javascript:void(0);">BBW Dating Blog</a></li>
                <li><a href="javascript:void(0);">BBW Dating Blog</a></li>
            </ul>
        </div>
        <div class="nav_selects mob">
            <p class="_pick">BBW Dating Blog
                <img src="../../web/images/blog/select-arrow.png" alt="">
            </p>
        </div>
    </section>

    <!--  hot articles -->
    <section class="_hot_arti">
        <div class="container">
            <h2 class="_hot-title">Hot Articles</h2>
            <div class="_arti-content">
                <div class="_arti-items _show">
                    <a href="javascript:void(0);">
                        <img src="../../web/images/blog/blog-show.png" alt="" class="pc">
                        <img src="../../web/images/blog/blog-show-mob.png" alt="" class="mob">
                        <div class="_arti_txt _show-txt">
                            <span>DATING</span>
                            <b>Celebrate Your Unique Self by Using Your True Name</b>
                            <p>It’s Hallow-scream! Are you and your match ready for a scary good time? So are we! And to celebrate the…</p>
                        </div>
                    </a>
                </div>
                <div class="_arti-items _arti-card pc">
                    <div class="_arti-card-txt">
                        <b>PlusCupid App for BBW Singles</b>
                        <p> Meet and chat to your BBW soulmate</p>
                        <a href="javascript:void(0);" class="download-button hover-black">
                            <span>F</span>
                            <span>r</span>
                            <span>e</span>
                            <span>e</span>&nbsp;
                            <span>D</span>
                            <span>o</span>
                            <span>w</span>
                            <span>n</span>
                            <span>l</span>
                            <span>o</span>
                            <span>a</span>
                            <span>d</span>&nbsp;
                            <span>N</span>
                            <span>o</span>
                            <span>w</span>
                        </a>
                    </div>
                    <div class="_card-txt-images">
                        <img src="../../web/images/blog/card-ip1.png" alt="">
                        <img src="../../web/images/blog/card-ip2.png" alt="">
                    </div>
                </div>
                <div class="_arti-items">
                    <a href="javascript:void(0);">
                        <img src="../../web/images/blog/arti_items1.png" alt="">
                        <div class="_arti_txt">
                            <b>Celebrate Your Unique Self by Using Your True Name</b>
                            <p>It’s Hallow-scream! Are you and your match ready for a scary good time? So are we! And to celebrate the…</p>
                            <span>VIEW POST</span>
                        </div>
                    </a>
                </div>
                <div class="_arti-items">
                    <a href="javascript:void(0);">
                        <img src="../../web/images/blog/arti_items2.png" alt="">
                        <div class="_arti_txt">
                            <b>Celebrate Your Unique Self by Using Your True Name</b>
                            <p>It’s Hallow-scream! Are you and your match ready for a scary good time? So are we! And to celebrate the…</p>
                            <span>VIEW POST</span>
                        </div>
                    </a>
                </div>
                <div class="_arti-items">
                    <a href="javascript:void(0);">
                        <img src="../../web/images/blog/arti_items3.png" alt="">
                        <div class="_arti_txt">
                            <b>Celebrate Your Unique Self by Using Your True Name</b>
                            <p>It’s Hallow-scream! Are you and your match ready for a scary good time? So are we! And to celebrate the…</p>
                            <span>VIEW POST</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-cnt">
                <div class="_left pc">
                    <img src="../../web/images/footer-logo.svg" alt="">
                </div>
                <div class="_right">
                    <ul class="_right_list">
                        <li>
                            <p>Dating APP</p>
                            <a href="/views/site/bbw.html">BBW</a>
                            <a href="/views/blog/index.html">Blog</a>
                        </li>
                        <li>
                            <p>Feature Pages</p>
                            <a href="/views/site/bbws.html">BBWs</a>
                            <a href="/views/site/bp.html">Body Positive</a>
                        </li>
                        <li>
                            <p>Resources</p>
                            <a href="/views/site/faqs.html">FAQ</a>
                            <a href="/views/site/about.html">About</a>
                            <a href="/views/site/feedback.html">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                <div class="tp">
                    <a href="../site/terms.html">Terms of Use</a> | 
                    <a href="../privacy/policy.html">Privacy</a>
                </div>
                <p class="copy">© 2021 SoulmateString All Rights Reserved </p>
            </div>
        </div>
    </footer>
</body>
</html>